@font-face {
  font-family: 'DCSCORES';
  src:  url('../assets/fonts/DCSCORES.woff2') format('woff2'),
        url('../assets/fonts/DCSCORES.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}