html,
body {
  font: 400 20px/1 Helvetica, Arial, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f9f9f9;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  line-height: 1.5;
  color: #565a5c;

  background-color: white;
}



// Until the site is launched, remove after
.Splash {
  width: 100%;
  height: 100vh;

  background-color: #fafafa;
  background-image: url(../assets/images/hero-default--large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
}

  .Splash-content {
    position: absolute;
    display: block;

    top: 5%;
    left: 2.5%;

    padding-top: 1.25em;
    padding-bottom: 0.5em;
    padding-right: 1.25em;
    padding-left: 1.25em;

    background-image: url(../assets/textures/dots--grey.png);
    background-repeat: no-repeat;
    background-position: 225% 100%;
    background-size: 24rem;

    background-color: #fec737;
    border: 0.25em solid lighten(#fec737, 15%);
    border-radius: 3px;
  }

    .Splash-contentTitle {
      margin-top: 0;
      margin-bottom: 1.25em;

      font-size: 1.3rem;
      line-height: 1;
      color: darken($americaScoresYellow, 45%);
    }

    .Splash-contentLink {
      display: block;

      font-size: 0.825rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.025em;
      text-align: right;
      color: rgba(26, 22, 0, 0.8);

      box-shadow: none;

      &:focus {
        transform: translateY(1px);
      }
    }

// Temp component for message
.NoticeMePlease {
  padding: 1rem 1rem 1rem 1rem;

  width: 100%;
  text-align: center;
  background: #fd0;

  @media (min-width: 48em) {
    padding: 1.25rem 1rem 1.25rem 1rem;
  }
}

  .NoticeMePlease > p {
    display: block;
    margin-top: 0;
    margin-bottom: -0.245em;

    font-family: "DCSCORES", serif;
    font-size: 0.9rem;
    line-height: 1.15;
    font-weight: normal;
    color: darken(#43100A, 5%);

    @media (min-width: 48em) {
      font-size: 1rem;
    }
  }
