<footer class="Footer">

  <div class="Footer-main  Grid  Grid--large">

    <div class="Footer-mainSecondary">
      <h4 class="Footer-mainSecondaryTitle">newsletter</h4>
    </div>

    <div class="Footer-mainPrimary">
      <h3 class="Footer-mainPrimaryTitle">Building Teams, Improving Lives.</h3>

      <!-- Footer navigation -->
      <nav class="Footer-navigation">

        <!-- Footer nav column #1 -->
        <div class="Footer-navigationColumn">
          <h4 class="Footer-navigationColumnHeading">Our Program</h4>

          <ul class="Footer-navigationColumnList">
            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Program Model</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Program Sites</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Resources</a>
            </li>
          </ul>
        </div>

        <!-- Footer nav column #2 -->
        <div class="Footer-navigationColumn">
          <h4 class="Footer-navigationColumnHeading">Impact</h4>

          <ul class="Footer-navigationColumnList">
            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Annual Reports</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Blog</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Awards</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Press Coverage</a>
            </li>
          </ul>
        </div>

        <!-- Footer nav column #3 -->
        <div class="Footer-navigationColumn">
          <h4 class="Footer-navigationColumnHeading">About Us</h4>

          <ul class="Footer-navigationColumnList">
            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Mission & History</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">D.C. United partnership</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Leadership Team</a>
            </li>

            <li class="Footer-navigationColumnListItem">
              <a href="#" class="Footer-navigationColumnListItemLink">Careers & Internships</a>
            </li>
          </ul>
        </div>

      </nav>

      <!-- Social block -->
      <div class="Footer-social">
        <span class="Footer-socialLabel">Follow us on:</span>

        <a href="#" class="Footer-socialLink  Footer-socialLink--twitter">
          <i class="Icon  Icon-twitter"></i>
          Twitter</a>

        <a href="#" class="Footer-socialLink  Footer-socialLink--facebook">
          <i class="Icon  Icon-facebookEmpty"></i>
          Facebook</a>

        <a href="#" class="Footer-socialLink  Footer-socialLink--instagram">
          <i class="Icon  Icon-instagram"></i>
          Instagram</a>

        <a href="#" class="Footer-socialLink  Footer-socialLink--youtube">
          <i class="Icon  Icon-youtube"></i>
          Youtube</a>

        <a href="#" class="Footer-socialLink  Footer-socialLink--flickr">
          <i class="Icon  Icon-flickrEmpty"></i>
          Flickr</a>
      </div>

    </div>

  </div>

  <!-- Fancy naming huh -->
  <div class="Footer-auxiliary  Grid  Grid--large">
    <span>footer auxiliary</span>
  </div>

</footer>























