<header class="Header" role="banner">

  <!-- Snackbar -->
  <div class="Header-snack">
    <div class="Header-snackBar">

      <div class="Header-snackBarSocial">
        <span class="Header-snackBarSocialTitle">Follow Us</span>

        <a href="https://twitter.com/dcscores" class="Header-snackBarSocialLink  Header-snackBarSocialLink--twitter" target="_blank">
          <i class="Icon  Icon-twitter"></i>
        </a>

        <a href="http://www.facebook.com/DCSCORES" class="Header-snackBarSocialLink  Header-snackBarSocialLink--facebook" target="_blank">
          <i class="Icon  Icon-facebook"></i>
        </a>

        <a href="https://www.instagram.com/dc_scores/" class="Header-snackBarSocialLink  Header-snackBarSocialLink--instagram" target="_blank">
          <i class="Icon  Icon-instagram"></i>
        </a>

        <a href="http://www.youtube.com/dcscores" class="Header-snackBarSocialLink  Header-snackBarSocialLink--youtube" target="_blank">
          <i class="Icon  Icon-youtube"></i>
        </a>

        <a href="https://www.flickr.com/photos/dcscorespictures" class="Header-snackBarSocialLink  Header-snackBarSocialLink--flickr" target="_blank">
          <i class="Icon  Icon-flickr"></i>
        </a>

        <a href="https://www.linkedin.com/company/879205" class="Header-snackBarSocialLink  Header-snackBarSocialLink--linkedin" target="_blank">
          <i class="Icon  Icon-linkedin"></i>
        </a>
      </div>

    </div>
  </div>

  <!-- Header mains -->
  <div class="Header-main">

    <a href="/" class="Header-mainFlag">
      <h1 class="Header-mainFlagLogo">
        <span class="u-visuallyHidden">Logo?</span>
        <img class="Header-mainFlagLogoImage" src="/assets/images/logo.png" alt="">
      </h1>
    </a>

    {% include navigation.html %}

    <div class="Header-mainActions">
      <a href="/volunteer" class="Header-mainActionsVolunteer">
        <span>Volunteer</span>
      </a>

      <a href="http://bit.ly/GiveToDCSCORES" class="Header-mainActionsDonate" target="_blank">
        <i class="Header-mainActionsDonateIcon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13.1" enable-background="new 0 0 15 13.1" width="15" height="13.1">
            <path d="M7.5 2.1C3.7-2.2.1.9 0 3.8c-.1 3.2 5.3 7.6 7.3 9.3.1 0 .1 0 .2.1.1 0 .1 0 .2-.1 2-1.6 7.4-6.1 7.3-9.3-.1-2.9-3.7-6-7.5-1.7z"></path>
          </svg>
        </i>
        <span>Donate</span>
      </a>
    </div>

    <!-- Holds opening for off-canvas menu -->
    <div class="Header-mainNavigationToggle">
      <button class="Hamburger" type="button" onclick="toggleNavMenu()">
        <span class="Hamburger-box">
          <span class="Hamburger-boxInside"></span>
        </span>
      </button>

      <label class="Header-mainNavigationToggleLabel" for="Hamburger" onclick="toggleNavMenu()">Menu</label>
    </div>

  </div>

</header>





















