<nav class="Navigation" role="navigation">
  <ul class="Navigation-list">
    <li class="Navigation-listItem">
      <a href="/our-program/program-model" class="Navigation-listItemLink  js-dropdownLink">Our Program
        <svg class="Navigation-listItemLinkIcon" xmlns="http://www.w3.org/2000/svg" viewBox="-122.9 121.1 105.9 61.9">
          <path d="M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z"/>
        </svg>
      </a>

      <!-- Dropdown -->
      <ul class="Navigation-dropdown">
        <li class="Navigation-dropdownItem">
          <a href="/our-program/program-model" class="Navigation-dropdownItemLink">Program Model</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/our-program/program-sites" class="Navigation-dropdownItemLink">Program Sites</a>
        </li>

      </ul>
    </li>

    <li class="Navigation-listItem">
      <a href="/impact" class="Navigation-listItemLink  js-dropdownLink">Impact
        <svg class="Navigation-listItemLinkIcon" xmlns="http://www.w3.org/2000/svg" viewBox="-122.9 121.1 105.9 61.9">
          <path d="M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z"/>
        </svg>
      </a>

      <!-- Dropdown -->
      <ul class="Navigation-dropdown">
        <li class="Navigation-dropdownItem  Navigation-dropdownItem--impact">
          <a href="/impact" class="Navigation-dropdownItemLink">Impact</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/blog" class="Navigation-dropdownItemLink">Blog</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/impact/awards" class="Navigation-dropdownItemLink">Awards</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/impact/press" class="Navigation-dropdownItemLink">Press Coverage</a>
        </li>
        
      </ul>
    </li>

    <li class="Navigation-listItem">
      <a href="/about-us/mission-and-history" class="Navigation-listItemLink  js-dropdownLink">About Us
        <svg class="Navigation-listItemLinkIcon" xmlns="http://www.w3.org/2000/svg" viewBox="-122.9 121.1 105.9 61.9">
          <path d="M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z"/>
        </svg>
      </a>

      <!-- Dropdown -->
      <ul class="Navigation-dropdown">
        <li class="Navigation-dropdownItem">
          <a href="/about-us/mission-and-history" class="Navigation-dropdownItemLink">Mission & History</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/about-us/leadership" class="Navigation-dropdownItemLink">Leadership Team</a>
        </li>

        <li class="Navigation-dropdownItem">
          <a href="/about-us/careers-and-internships" class="Navigation-dropdownItemLink">Careers & Internships</a>
        </li>
      </ul>
    </li>

    <li class="Navigation-listItem  Navigation-listItem--volunteer">
      <a href="/volunteer" class="Navigation-listItemLink">Volunteer</a>
    </li>
  </ul>
</nav>







