{% assign post = include.post %}
{% assign is_excerpt = include.is_excerpt %}
<article class="Article">

  {% if is_excerpt %}
  <header class="Article-header">
    <h2 class="Article-headerTitle"><a href="{{ post.url }}" class="Article-headerTitleLink">{{ post.title }}</a></h2>
  </header>
  {% else %}
  <header class="Article-header">
    <h2 class="Article-headerTitle">{{ post.title }}</h2>
  </header>
  {% endif %}

  <!-- Article meta -->
  <section class="Article-meta">
    <div class="Article-metaAuthored">
      <span class="Article-metaAuthoredSpeaker">By
        {% comment %}<a href="#" class="Article-metaAuthoredSpeakerLink">{{ post.author }}</a>{% endcomment %}
        <span class="Article-metaAuthoredSpeakerName">{{ post["Author"] }}</span>
      </span>

      <span class="Article-metaAuthoredOn">on
        <time class="Article-metaAuthoredOnDate" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
      </span>
    </div>

    {% unless is_excerpt %}
    <div class="Article-metaSocial">
      <a href="https://twitter.com/intent/tweet?text={{ post.title | strip_html | truncatewords: 6 }}&url={{ site.url }}{{ post.url }}&via=dcscores" class="Article-metaSocialLink  Article-metaSocialLink--twitter" target="_blank">
        <i class="Icon  Icon-twitter"></i>
        Tweet
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}&t={{ post.title }}" class="Article-metaSocialLink  Article-metaSocialLink--facebook" target="_blank">
        <i class="Icon  Icon-facebook"></i>
        Share
      </a>
    </div>
    {% endunless %}
  </section>

  {% comment %}
  <section class="Article-meta">

    <ul class="Article-metaList">
      {% for post_tag in post.tags %}
        {% assign post_tag_downcase = post_tag | downcase %}
        {% for site_tag in site.blog_tags %}
          {% assign site_tag_title = site_tag.title | downcase %}
          {% if site_tag_title == post_tag_downcase %}
            <li class="Article-metaListItem">
              <a href="{{ site_tag.permalink }}" class="Article-metaListItemLink">{{ site_tag.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>

    {% if post.date %}
    <time class="Article-metaDate" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
    {% endif %}

  </section>
  {% endcomment %}

  <section class="Article-content">

    {% if is_excerpt %}
      {{ post.excerpt | markdownify }}
    {% else %}
      {{ post.content | markdownify }}
    {% endif %}

  </section>

  {% if is_excerpt %}
  <footer class="Article-footer">
    <a href="{{ post.url }}" class="Article-footerLink">Read more</a>
  </footer>
  {% endif %}

  <!-- Next/previous navigation -->
  {% unless is_excerpt %}
  <div class="Article-navigation">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="Article-navigationLink" style="background-image: url({{ page.previous["Thumbnail Image"] }});">
      <div class="Article-navigationLinkContent">
        <span class="Article-navigationLinkContentTag">Previous post</span>
        <h3 class="Article-navigationLinkContentTitle">{{ page.previous.title }}</h3>
      </div>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url }}" class="Article-navigationLink" style="background-image: url({{ page.next["Thumbnail Image"] }});">
      <div class="Article-navigationLinkContent">
        <span class="Article-navigationLinkContentTag">Next post</span>
        <h3 class="Article-navigationLinkContentTitle">{{ page.next.title }}</h3>
      </div>
    </a>
    {% endif %}
  </div>
  {% endunless %}
</article>





















