.Program {
  padding-top: 2em;
  padding-bottom: 2em;

  width: 100%;
}

  .Program-model {
    display: block;

    &:hover .Program-modelLookIcon {
      opacity: 0.9;
    }

    @media (min-width: 38em) {
      @include flexbox;
    }
  }

    .Program-modelLook {
      padding: 1em;

      width: 40%;

      @media (min-width: 30em) {
        width: 35%;
      }

      @media (min-width: 38em) {
        width: 25%;
      }
    }

      .Program-modelLookIcon {
        display: block;

        opacity: 0.25;
      }

  .Program-modelRead {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
  }

    .Program-modelReadHeadline {
      display: block;

      font-size: 1.4rem;
      line-height: 1;

      @media (min-width: 38em) {
        font-size: 1.6rem;
      }

      @media (min-width: 48em) {
        font-size: 1.8rem;
      }
    }

    .Program-modelReadParagraph {}

.ProgramStrong {
  font-family: "DCSCORES";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.0225em;
  color: darken($americaScoresYellow, 15%);

  @media (min-width: 48em) {
    font-size: 1.4rem;
  }
}






.ProgramSeasons {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  margin-bottom: 2em;
  padding-right: 1.5em;
  padding-left: 1.5em;

  clear: both;
  width: 100%;
}

  .ProgramSeasons-season {
    position: relative;
    display: block;

    width: 100%;

    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;

    border: 0.2em solid lighten($americaScoresCoolGrey, 15%);
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image:
        linear-gradient(
          to top,
          rgba(0, 0, 0, 0.95),
          rgba(0, 0, 0, 0) 50%
      );
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
      height: 0;
    }

    @media (min-width: 34em) {
      width: 48%;
    }

    @media (min-width: 58em) {
      width: 23%;
    }

    @media (max-width: 34em) {
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 4%;
      }
    }

    @media (max-width: 58em) {

      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 4%;
      }

    }
  }

  .ProgramSeasons-season--fall {
    background-image: url(../assets/images/program-season--fall.jpg);
    background-position: 50% 50%;
  }

  .ProgramSeasons-season--winter {
    background-image: url(../assets/images/program-season--winter.jpg);
    background-position: 30% 50%;
  }

  .ProgramSeasons-season--spring {
    background-image: url(../assets/images/program-season--spring.jpg);
    background-position: 40% 50%;
  }

  .ProgramSeasons-season--summer {
    background-image: url(../assets/images/program-season--summer.jpg);
    background-position: 50% 50%;
  }

    .ProgramSeasons-seasonHeader {
      position: absolute;
      display: block;

      bottom: 0;
      left: 0;

      padding-top: 0.75em;
      padding-bottom: 0.75em;
      padding-right: 1em;
      padding-left: 1em;

      width: 100%;
    }

      .ProgramSeasons-seasonHeaderName {
        margin-top: 0;
        margin-bottom: 0.5em;

        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: -0.0125em;
        color: white;
      }

      .ProgramSeasons-seasonHeaderTitle {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 1rem;
        line-height: 1.15;
        color: white;
      }

    .ProgramSeasons-seasonBadge {
      position: absolute;
      display: block;

      top: 5%;
      left: -1em;

      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 0.5em;
      padding-left: 0.5em;

      background-color: lightgrey;
      border: 0.2em solid;
      border-radius: 6px;
    }

    .ProgramSeasons-seasonBadge--fall {
      background-color: darken($americaScoresRed, 0%);
      border-color: lighten($americaScoresRed, 15%);
    }

    .ProgramSeasons-seasonBadge--winter {
      background-color: #fec737;
      border-color: lighten(#fec737, 15%);
    }

    .ProgramSeasons-seasonBadge--spring {
      background-color: darken($americaScoresBlue, 0%);
      border-color: lighten($americaScoresBlue, 15%);
    }

    .ProgramSeasons-seasonBadge--summer {
      background-color: darken($americaScoresCoolGrey, 5%);
      border-color: lighten($americaScoresCoolGrey, 5%);
    }

      .ProgramSeasons-seasonBadgeName {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 1.4rem;
        line-height: 1;
        letter-spacing: -0.0725em;
        color: white;

        > span {
          display: block;

          font-size: 0.8rem;
          letter-spacing: -0.0125em;

          @media (min-width: 48em) {
            font-size: 0.9rem;
          }
        }

        @media (min-width: 48em) {
          font-size: 1.6rem;
        }
      }

      .ProgramSeasons-seasonBadgeName--fall {
        color: lighten($americaScoresRed, 55%);
      }

      .ProgramSeasons-seasonBadgeName--winter {
        color: darken($americaScoresYellow, 45%);
      }

      .ProgramSeasons-seasonBadgeName--spring {
        color: lighten($americaScoresBlue, 70%);
      }

      .ProgramSeasons-seasonBadgeName--summer {
        color: darken($americaScoresCoolGrey, 45%);
      }




























