.Masthead {
  position: relative;
  display: block;

  margin-bottom: 2em;

  width: 100%;

  // Height
  height: auto;
  max-height: calc(70vh - 85px);
  min-height: 320px;

  background-color: darken($americaScoresBlue, 0%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0) 40%
    );
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 56.25%;
    height: 0;
  }

  @media (min-width: 38em) {
    margin-bottom: 3.75em;
  }

  @media (min-width: 48em) {
    margin-bottom: 4.75em;
  }

  @media (min-width: 58em) {}

  @media (min-width: 64em) {}
}

.Masthead--noBefore {
  &::before {
    display: none!important;
  }
}

.Masthead--noBottom {
  margin-bottom: 0!important;
}

  .Masthead-header {
    position: absolute;
    display: block;

    bottom: 0;
    left: 0;

    padding-bottom: 0.25em;
    width: 100%;

    @media (min-width: 48em) {
      padding-bottom: 1em;
    }
  }

    .Masthead-headerTitle {
      display: block;

      margin-left: 2%;

      font-family: "DCSCORES", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.0125em;
      color: #fff;

      @media (min-width: 48em) {
        margin-left: 10.02888%;

        font-size: 2.4rem;
      }

      @media (min-width: 58em) {
        font-size: 2.6rem;
      }
    }

    .Masthead-headerTitle--right {
      margin-left: 0;
      text-align: right;
    }


















