// It is fairly simple list for press component.
// I want press to have it's own separate component for future.
// Modular css is great but fuck it.
.Press {}

  .Press-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

    .Press-listItem {
      margin-top: 0.75em;
      padding-left: 0.75em;

      @media (min-width: 48em) {
        margin-top: 1em;
        padding-left: 1.5em;
      }
    }

    .Press-listItem p {
      margin-top: 0.75em;
    }

      .Press-listItemDate {
        display: block;

        margin-bottom: 0.25em;

        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.0125em;
        color: darken($americaScoresCoolGrey, 5%);

        @media (min-width: 48em) {
          font-size: 0.95rem;
        }
      }

      .Press-listItemLink {
        font-family: "DCSCORES", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: lighten($americaScoresBlue, 5%);

        border-bottom: 0.15em solid lighten($americaScoresBlue, 25%);
        box-shadow: none!important;

        &:hover,
        &:focus {
          color: lighten($americaScoresBlue, 25%);
        }

        &:focus {
          outline: 1px dotted darken($americaScoresBlue, 5%);
        }

        @media (min-width: 48em) {
          font-size: 1.125rem;
        }
      }

      .Press-listItemSource {
        display: block;

        margin-top: 1em;
        padding-right: 0.5em;

        font-size: 0.825rem;
        font-weight: 600;
        line-height: 1;
        text-align: right;
        letter-spacing: -0.0125em;
        color: darken($americaScoresCoolGrey, 15%);

        &::before {
          content: "— ";
          color: lighten($americaScoresCoolGrey, 15%);
        }

        @media (min-width: 48em) {
          font-size: 0.925rem;
        }
      }






.TheHomePress {
  padding-top: 4em;
  padding-bottom: 2em;

  padding-right: 1em;
  padding-left: 1em;

  //background-color: lighten($americaScoresCoolGrey, 15%);
  //background-image: url(../assets/textures/dots--grey.png);
  //background-repeat: no-repeat;
  //background-position: 25% 50%;
  background-color: lighten($americaScoresBlue, 5%);
  //background-size: 34rem;

  @media (min-width: 48em) {
    padding-bottom: 2em;
  }
}

  .TheHomePress-header {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(column);

    margin-top: 0;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;

    max-width: 54em;

    @media (min-width: 28em) {
      @include flex-direction(row);
    }
  }

    .TheHomePress-headerTitle {
      display: block;

      margin: 0;

      font-size: 1.4rem;
      line-height: 1;
      letter-spacing: -0.015em;
      color: lighten($americaScoresBlue, 75%);

      @media (min-width: 28em) {
        font-size: 1.5rem;
      }

      @media (min-width: 48em) {
        font-size: 1.8rem;
      }

      @media (min-width: 58em) {
        font-size: 2rem;
      }
    }

    .TheHomePress-headerLink {
      display: block;

      white-space: nowrap;

      font-size: 0.9rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.025em;
      text-decoration: none;
      color: lighten($americaScoresBlue, 75%);

      border-bottom: 0.15em solid lighten($americaScoresBlue, 65%);
      box-shadow: none;

      @media (min-width: 28em) {
        font-size: 1rem;
      }

      @media (min-width: 96em) {
        font-size: 1.125rem;
      }
    }

  .TheHomePress-press {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;

    max-width: 64em;
  }

    .TheHomePress-pressList {
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      @include align-items(flex-start);
    }

      .TheHomePress-pressListItem {
        display: block;

        flex: 1 12em;
        margin: 2%;

        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-right: 0.6em;
        padding-left: 0.6em;

        background-color: #fff;
        border-radius: 3px;
        transition: all 0.125s ease;

        &:hover,
        &:focus {
          transform: translateY(-2px);
        }

        &:hover .TheHomePress-pressListItemTitle,
        &:focus .TheHomePress-pressListItemTitle {
          color: lighten($americaScoresBlue, 15%);
        }

        @media (min-width: 48em) {
          margin: 1%;

          padding-top: 0.8em;
          padding-bottom: 0.8em;
          padding-right: 0.8em;
          padding-left: 0.8em;
        }
      }

        .TheHomePress-pressListItemTitle {
          margin-top: 0;
          margin-bottom: 0;

          font-size: 1rem;
          line-height: 1.25;
          color: darken($americaScoresBlue, 15%);
        }

        .TheHomePress-pressListItemSource {
          display: block;

          margin-top: 1em;

          font-size: 0.7rem;
          font-weight: 600;
          line-height: 1;
          text-align: right;
          letter-spacing: -0.0125em;
          color: darken($americaScoresCoolGrey, 25%);

          &::before {
            content: "— ";
            color: lighten($americaScoresCoolGrey, 5%);
          }

          @media (min-width: 48em) {
            font-size: 0.7rem;
          }
        }






















