.Hero {
  position: relative;

  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);

  min-height: 540px;

  &::after {
    content: "";
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image:
      linear-gradient( to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.4)
    );
  }

  @media (min-width: 54em) {
    height: 580px;
  }

  @media (min-width: 64em) {
    height: 700px;
  }
}

  .Hero-header {
    display: block;

    // Later implement variables for back end: low, mid or high
    margin-top: 14em;

    align-self: flex-start;

    width: 100%;

    z-index: 9;

    > div {
      padding-left: 4.25%;
    }
  }

    .Hero-headerTitle {
      display: block;

      font-size: 1.6rem;
      line-height: 1.125;
      color: white;

      @media (min-width: 58em) {
        font-size: 1.8rem;
      }
    }

    .Hero-headerIntroduction {
      display: block;
    }

      .Hero-headerIntroductionLink {
        display: inline-block;

        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-right: 0.75em;
        padding-left: 0.75em;

        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.0125em;
        color: darken($americaScoresBlue, 15%);

        //border: 0.1em solid white;
        background-color: white;
        border-radius: 3px;
      }

  .Hero-main {
    position: static;
  }

    .Hero-mainContainer {
      margin: auto;
      max-width: 1440px;
    }













