.Header {
  position: relative;
  display: block;

  background: $americaScoresBlue;
}

  .Header-snack {
    position: relative;
    display: block;

    background: darken($americaScoresBlue, 5%);
  }

    .Header-snackBar {
      @include flexbox();
      @include justify-content(flex-end);

      margin: auto;

      max-width: 70em;
      height: 2.25em;
    }

      .Header-snackBarSocial {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 2%;

        @media (min-width: 37.5em) {
          margin-right: 1.42857%;
        }
      }

        .Header-snackBarSocialTitle {
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1;
          color: rgba(255, 255, 255, 0.93);

          @media (max-width: 38em) {
            display: none;
          }
        }

        .Header-snackBarSocialLink {
          margin-left: 1em;

          text-decoration: none;
          color: lighten($americaScoresBlue, 15%);

          box-shadow: none;
          transition: color 0.125s ease;

          i {
            display: block;
            font-size: 1rem;
          }

          &:hover,
          &:active {
            color: lighten($americaScoresBlue, 25%);
          }
        }

  .Header-main {
    display: flex;

    margin: auto;

    max-width: 70em;
    height: 4em;
  }

  // Was needed for header because of wrapper
  // Leave for now
  /*body::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: darkgrey;
  }*/

    .Header-mainFlag {
      position: absolute;
      display: block;

      margin-top: -0.5em;
      margin-left: 2.42857%;

      width: 4.45em;
      height: 5.25em;

      font-size: 1.2em;
      cursor: pointer;

      background-color: white;

      border-right: 0.2em solid #fff;
      border-left: 0.2em solid #fff;
      border-bottom: 0.2em solid #fff;

      box-shadow: 0 0 0.175em 0.175em rgba(0, 0, 0, 0.1);

      z-index: 9999;

      &::before {
        content: "";
        position: absolute;
        display: block;

        top: 0;
        left: -0.525em;

        width: 0px;
        height: 0px;

        border-style: solid;
        border-width: 0 0 0.485em 0.325em;
        border-color: transparent transparent darken(white, 25%) transparent;
      }

      @media (min-width: 26em) {
        margin-left: 2.42857%;
        height: 5.25em;
        font-size: 1.3em;
      }

      @media (min-width: 32em) {
        margin-left: 2.42857%;
        height: 5.25em;
        font-size: 1.4em;
      }

      @media (min-width: 37.5em) {
        margin-left: 1.42857%;
        height: 5.25em;
        font-size: 1.5em;
      }

      @media (min-width: 58em) {
        font-size: 1.5em;
      }
    }

      .Header-mainFlagLogo {
        display: block;

        padding-top: 0.75em;

        width: 100%;
        height: 100%;

        font-size: 1em;

        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }

        .Header-mainFlagLogoImage {}

    .Header-mainActions {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 2%;
      margin-left: auto;

      height: 100%;

      @media (min-width: 37.5em) {
        margin-right: 1.42857%;
      }
    }

      .Header-mainActionsDonate {
        display: block;

        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-right: 0.8em;
        padding-left: 0.8em;

        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.045em;
        text-decoration: none;
        color: white;

        cursor: pointer;

        background-color: $americaScoresRed;
        border: 3px solid transparent;
        border-radius: 4px;

        box-shadow: none;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          border-color: darken($americaScoresRed, 15%);
        }

        &:hover .Header-mainActionsDonateIcon svg,
        &:focus .Header-mainActionsDonateIcon svg {
          fill: darken($americaScoresRed, 25%);
        }

        @media (min-width: 28em) {
          font-size: 1.115rem;
        }

        @media (min-width: 32em) {
          padding-right: 1em;
          padding-left: 1em;
        }
      }

        .Header-mainActionsDonateIcon {
          position: relative;
          display: inline-block;

          left: -0.25em;
          bottom: -0.0625em;

          width: 1.25em;
          height: 1em;

          vertical-align: bottom;

          svg {
            width: 100%;
            height: 100%;

            fill: darken($americaScoresRed, 15%);
          }

          @media (max-width: 34em) {
            display: none!important;
          }
        }

      .Header-mainActionsVolunteer {
        display: block;

        margin-right: 1em;

        padding-top: 0.75em;
        padding-bottom: 0.75em;
        /* Because of 'For Parents' button, later bring back to 1em */
        padding-right: 0.75em;
        padding-left: 0.75em;

        font-size: 1.115rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.045em;
        text-decoration: none;
        color: white;

        cursor: pointer;

        background-color: $americaScoresBlue;
        border: 3px solid lighten($americaScoresBlue, 15%);
        border-radius: 4px;

        box-shadow: none;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          background-color: lighten($americaScoresBlue, 15%);
        }

        @media (max-width: 44em) {
          display: none!important;
        }
      }

    .Header-mainNavigationToggle {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);

      padding-right: 1.25em;
      padding-left: 1.25em;

      background-color: lighten($americaScoresBlue, 5%);

      z-index: 999;

      @media (min-width: 28em) {
        @include flex-direction(row);
      }

      @media (min-width: 64em) {
        display: none;
      }
    }

      /*.Header-mainNavigationToggleButton {
        display: block;
        margin: 0;

        padding-right: 0.5em;
        padding-left: 0.5em;

        height: 100%;

        overflow: visible;
        cursor: pointer;

        font: inherit;
        line-height: 1em;
        color: white;

        background-color: orange;
        border: none;
      }*/

      .Header-mainNavigationToggleLabel {
        margin-top: 0.25em; // Magic

        padding-left: 0;

        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.0575em;
        color: white;

        vertical-align: middle;
        cursor: pointer;

        @media (min-width: 28em) {
          margin-top: -2px;
          padding-left: 0.375em;

          font-size: 1.325rem;
          letter-spacing: -0.0625em;
        }
      }
































