.Embed {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
    height: 0;
  }
}

  .Embed iframe,
  .Embed object,
  .Embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



.AgileEmbed {
  position: relative;

  //padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 48.25%; /* blddkfk */

  clear: both;
  height: 0;

  cursor: pointer;

  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: 50% 25%;
  background-size: cover;
  border-top: 0.25em solid #e5e6e7;

  &::before {
    content: "";
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;

    width: 3em;
    height: 3em;

    background-image: url(../assets/images/play-circle.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    transform: translate(-1.5em, -1.5em);
    z-index: 9;

    @media (min-width: 34em) {
      width: 4em;
      height: 4em;
      transform: translate(-2em,-2em);
    }

    @media (min-width: 48em) {
      width: 5em;
      height: 5em;
      transform: translate(-2.5em,-2.5em);
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.35);
    z-index: 8;
  }
}

  .AgileEmbed iframe {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 9;
  }

  .AgileEmbed-callout {
    position: absolute;
    display: block;

    bottom: 7.5%;
    left: 4.25%;

    z-index: 99;
  }

    .AgileEmbed-calloutLink {
      display: block;

      padding-top: 0.75em;
      padding-bottom: 0.75em;
      padding-right: 0.75em;
      padding-left: 0.75em;

      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.0175em;
      color: white;

      background-color: #cd201f;
      border: 0.2em solid darken(#cd201f, 10%);
      border-radius: 3px;

      cursor: pointer;

      opacity: 0.8;
      transition: all 0.15s ease;

      &:hover {
        opacity: 1;
      }

      @media (min-width: 34em) {
        font-size: 0.8rem;
      }

      @media (min-width: 48em) {
        font-size: 0.9rem;
      }
    }

  .AgileEmbed-notice {
    position: absolute;
    display: block;

    top: 65%;
    left: 50%;

    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.0245em;
    color: white;

    transform: translate(-50%, -50%);
    z-index: 9;

    @media (min-width: 48em) {
      top: 60%;

      font-size: 1.1rem;
    }
  }

























