/*
 * The Grid.
 * Kind of 3rd party flexible grid system.
 *
 * Work in progress.
 */
.Grid,
.Grid--superLarge,
.Grid--large,
.Grid--medium,
.Grid--small,
.Grid--superSmall {
  position: relative;
  margin: auto;
  max-width: 100%;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.Grid__m1,
.Grid__m1-m2,
.Grid__m1-m3,
.Grid__m1-m4,
.Grid__m1-m5,
.Grid__m1-m6 {
  margin-left: 2%
}

.Grid--superSmall {
  max-width: 44em;
}

.Grid--small {
  max-width: 48.9em;
}

.Grid--medium {
  max-width: 54em;
}

.Grid--large {
  max-width: 64em;
}

.Grid--superLarge {
  max-width: 72em;
}

.Grid__m1,
.Grid__m1-m2,
.Grid__m1-m3,
.Grid__m1-m4,
.Grid__m1-m5,
.Grid__m1-m6,
.Grid__m2,
.Grid__m2-m3,
.Grid__m2-m4,
.Grid__m2-m5,
.Grid__m2-m6,
.Grid__m3,
.Grid__m3-m4,
.Grid__m3-m5,
.Grid__m3-m6,
.Grid__m4,
.Grid__m4-m5,
.Grid__m4-m6,
.Grid__m5,
.Grid__m5-m6,
.Grid__m6 {
  position: relative;
  display: block;
  clear: none;
  float: left;
  margin-right: -99.9%;
}

.Grid__m1 {
  width: 6.02888%;
}

.Grid__m2,
.Grid__m3,
.Grid__m4,
.Grid__m5 {
  width: 14.8061%;
}

.Grid__m6 {
  width: 22.7467%;
}

.Grid__m1-m2 {
  width: 22.83499%;
}

.Grid__m1-m3 {
  width: 39.64109%;
}

.Grid__m1-m5 {
  width: 73.2533%;
}

.Grid__m1-m6 {
  width: 98%;
}

.Grid__m2-m3,
.Grid__m3-m4,
.Grid__m4-m5 {
  width: 31.61221%;
}

.Grid__m2-m4,
.Grid__m3-m5 {
  width: 48.41831%;
}

.Grid__m2-m5 {
  width: 65.22442%;
}

.Grid__m2-m6 {
  width: 87.97112%;
}

.Grid__m4-m6 {
  width: 56.35891%;
}

.Grid__m5-m6 {
  width: 39.55281%;
}

.Grid__m1-m4 {
  width: 56.44719%;
}

.Grid__m-newline,
.Grid__m1,
.Grid__m1-m2,
.Grid__m1-m3,
.Grid__m1-m4,
.Grid__m1-m5,
.Grid__m1-m6 {
  clear: both;
}

.Grid__m2,
.Grid__m2-m3,
.Grid__m2-m4,
.Grid__m2-m5,
.Grid__m2-m6 {
  margin-left: 10.02888%;
}

.Grid__m3,
.Grid__m3-m4,
.Grid__m3-m5,
.Grid__m3-m6 {
  margin-left: 26.83499%;
}

.Grid__m4,
.Grid__m4-m5,
.Grid__m4-m6 {
  margin-left: 43.64109%;
}

.Grid__m5,
.Grid__m5-m6 {
  margin-left: 60.44719%;
}

.Grid__m6 {
  margin-left: 77.2533%;
}

@media screen and (min-width: 30em) {

  .Grid__t1,
  .Grid__t1-t2,
  .Grid__t1-t3,
  .Grid__t1-t4,
  .Grid__t1-t5,
  .Grid__t1-t6 {
    margin-left: 2%;
  }

  .Grid__t1,
  .Grid__t1-t2,
  .Grid__t1-t3,
  .Grid__t1-t4,
  .Grid__t1-t5,
  .Grid__t1-t6,
  .Grid__t2,
  .Grid__t2-t3,
  .Grid__t2-t4,
  .Grid__t2-t5,
  .Grid__t2-t6,
  .Grid__t3,
  .Grid__t3-t4,
  .Grid__t3-t5,
  .Grid__t3-t6,
  .Grid__t4,
  .Grid__t4-t5,
  .Grid__t4-t6,
  .Grid__t5,
  .Grid__t5-t6,
  .Grid__t6 {
    position: relative;
    display: block;
    clear: none;
    float: left;
    margin-right: -99.9%;
  }

  .Grid__t1 {
    width: 6.02888%;
  }

  .Grid__t2,
  .Grid__t3,
  .Grid__t4,
  .Grid__t5 {
    width: 14.8061%;
  }

  .Grid__t6 {
    width: 22.7467%;
  }

  .Grid__t1-t2 {
    width: 22.83499%;
  }

  .Grid__t1-t3 {
    width: 39.64109%;
  }

  .Grid__t1-t5 {
    width: 73.2533%;
  }

  .Grid__t1-t6 {
    width: 98%;
  }

  .Grid__t2-t3,
  .Grid__t3-t4,
  .Grid__t4-t5 {
    width: 31.61221%;
  }

  .Grid__t2-t4,
  .Grid__t3-t5 {
    width: 48.41831%;
  }

  .Grid__t2-t5 {
    width: 65.22442%;
  }

  .Grid__t2-t6 {
    width: 87.97112%;
  }

  .Grid__t4-t6 {
    width: 56.35891%;
  }

  .Grid__t5-t6 {
    width: 39.55281%;
  }

  .Grid__t1-t4 {
    width: 56.44719%;
  }

  .Grid__t-newline,
  .Grid__t1,
  .Grid__t1-t2,
  .Grid__t1-t3,
  .Grid__t1-t4,
  .Grid__t1-t5,
  .Grid__t1-t6 {
    clear: both;
  }

  .Grid__t2,
  .Grid__t2-t3,
  .Grid__t2-t4,
  .Grid__t2-t5,
  .Grid__t2-t6 {
    margin-left: 10.02888%;
  }

  .Grid__t3,
  .Grid__t3-t4,
  .Grid__t3-t5,
  .Grid__t3-t6 {
    margin-left: 26.83499%;
  }

  .Grid__t4,
  .Grid__t4-t5,
  .Grid__t4-t6 {
    margin-left: 43.64109%;
  }

  .Grid__t5,
  .Grid__t5-t6 {
    margin-left: 60.44719%;
  }

  .Grid__t6 {
    margin-left: 77.2533%;
  }

}

@media screen and (min-width: 48em) {

  .Grid__d1,
  .Grid__d1-d2,
  .Grid__d1-d3,
  .Grid__d1-d4,
  .Grid__d1-d5,
  .Grid__d1-d6 {
    margin-left: 2%;
  }

  .Grid__d1,
  .Grid__d1-d2,
  .Grid__d1-d3,
  .Grid__d1-d4,
  .Grid__d1-d5,
  .Grid__d1-d6,
  .Grid__d2,
  .Grid__d2-d3,
  .Grid__d2-d4,
  .Grid__d2-d5,
  .Grid__d2-d6,
  .Grid__d3,
  .Grid__d3-d4,
  .Grid__d3-d5,
  .Grid__d3-d6,
  .Grid__d4,
  .Grid__d4-d5,
  .Grid__d4-d6,
  .Grid__d5,
  .Grid__d5-d6,
  .Grid__d6 {
    position: relative;
    display: block;
    clear: none;
    float: left;
    margin-right: -99.9%;
  }

  .Grid__d1 {
    width: 6.02888%;
  }

  .Grid__d2,
  .Grid__d3,
  .Grid__d4,
  .Grid__d5 {
    width: 14.8061%;
  }

  .Grid__d6 {
    width: 22.7467%;
  }

  .Grid__d1-d2 {
    width: 22.83499%;
  }

  .Grid__d1-d3 {
    width: 39.64109%;
  }

  .Grid__d1-d5 {
    width: 73.2533%;
  }

  .Grid__d1-d6 {
    width: 98%;
  }

  .Grid__d2-d3,
  .Grid__d3-d4,
  .Grid__d4-d5 {
    width: 31.61221%;
  }

  .Grid__d2-d4,
  .Grid__d3-d5 {
    width: 48.41831%;
  }

  .Grid__d2-d5 {
    width: 65.22442%;
  }

  .Grid__d2-d6 {
    width: 87.97112%;
  }

  .Grid__d4-d6 {
    width: 56.35891%;
  }

  .Grid__d5-d6 {
    width: 39.55281%;
  }

  .Grid__d1-d4 {
    width: 56.44719%;
  }

  .Grid__d-newline,
  .Grid__d1,
  .Grid__d1-d2,
  .Grid__d1-d3,
  .Grid__d1-d4,
  .Grid__d1-d5,
  .Grid__d1-d6 {
    clear: both;
  }

  .Grid__d2,
  .Grid__d2-d3,
  .Grid__d2-d4,
  .Grid__d2-d5,
  .Grid__d2-d6 {
    margin-left: 10.02888%;
  }

  .Grid__d3,
  .Grid__d3-d4,
  .Grid__d3-d5,
  .Grid__d3-d6 {
    margin-left: 26.83499%;
  }

  .Grid__d4,
  .Grid__d4-d5,
  .Grid__d4-d6 {
    margin-left: 43.64109%;
  }

  .Grid__d5,
  .Grid__d5-d6 {
    margin-left: 60.44719%;
  }

  .Grid__d6 {
    margin-left: 77.2533%;
  }

}