.Link {
  margin-top: 2em;
}

.Link--alignRight {
  text-align: right;
}

.Link--alignLeft {
  text-align: left;
}

  .Link-link {
    display: inline-block;

    font-size: 0.825rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.0125em;
    color: darken($americaScoresCoolGrey, 25%);

    border-bottom: 0.15em solid lighten($americaScoresCoolGrey, 15%);

    &:hover,
    &:focus {
      color: darken($americaScoresCoolGrey, 45%);
    }

    &:focus {
      outline: 1px dotted darken($americaScoresCoolGrey, 45%);
      transform: translateY(1px);
    }

    @media (min-width: 48em) {
      font-size: 0.95rem;
    }
  }