.Footer {
  position: relative;
  display: block;

  padding-top: 2em;
  padding-right: 1em;
  padding-left: 1em;

  width: 100%;

  background-color: darken($americaScoresBlue, 10%);

  &::before {
    content: "";
    position: absolute;
    display: none;

    top: -2.5em;
    left: 50%;

    width: 4em;
    height: 5em;

    background-image: url(../assets/images/crest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    transform: translateX(-2em);

    z-index: 9;

    @media (min-width: 58em) {
      top: -3em;

      width: 5em;
      height: 6em;

      transform: translateX(-2.5em);
    }
  }

  @media (min-width: 64em) {
    padding-top: 4em;
  }
}

  .Footer-main {
    display: block;

    @media (min-width: 64em) {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }

    .Footer-mainPrimary {
      width: 100%;

      @media (min-width: 64em) {
        margin-left: 5%;
        width: 55%;
      }

      @media (max-width: 64em) {
        margin-top: 2em;
      }
    }

      .Footer-mainPrimaryTitle {
        display: block;

        font-size: 1.25rem;
        line-height: 1;
        color: white;

        @media (min-width: 58em) {
          font-size: 1.4rem;
        }

        @media (max-width: 64em) {
          display: none;
        }
      }

    .Footer-mainSecondary {
      position: relative;
      display: block;

      width: 100%;

      @media (min-width: 64em) {
        width: 40%;
      }
    }

      .Footer-mainSecondary p {
        color: white;
        margin-top: 0.5em;
      }

      .Footer-mainSecondaryTitle {
        display: block;

        margin-top: 0;
        margin-bottom: 0;

        font-size: 1.1rem;
        line-height: 1;
        color: white;

        @media (min-width: 28em) {
          font-size: 1.2rem;
        }
      }

      .Footer-mainSecondaryAwards {
        display: block;

        text-align: center;
      }

        .Footer-mainSecondaryAwardsLink {
          display: inline-block;
          margin-top: 3.5em;

          &:focus .Footer-mainSecondaryAwardsLinkBadge,
          &:hover .Footer-mainSecondaryAwardsLinkBadge {
            transform: scale(1.05);
          }
        }

        .Footer-mainSecondaryAwardsLink {
          
          /* Not the smart way of doing this...*/
          &:nth-child(2) .Footer-mainSecondaryAwardsLinkBadge,
          &:nth-child(3) .Footer-mainSecondaryAwardsLinkBadge {
            margin-left: 1em;
          }

        }

        .Footer-mainSecondaryAwardsLink--cfp {
          border-radius: 100%;
        }

          .Footer-mainSecondaryAwardsLinkBadge {
            display: block;
            width: auto;
            max-height: 5rem;
            transition: transform 0.15s ease;
            
            @media (min-width: 28em) {
              max-height: 6rem;
            }

            @media (min-width: 48em) {
              max-height: 6.5rem;
            }
          }

      .Footer-mainSecondaryActions {
        position: relative;
        @include flexbox();
        @include justify-content(space-between);

        margin-top: 2em;

        width: 100%;

        @media (min-width: 64em) {
          position: absolute;

          left: 0;
          bottom: 0;
        }
      }

        .Footer-mainSecondaryActionsVolunteer {
          display: block;

          padding-top: 0.85em;
          padding-bottom: 0.85em;
          padding-right: 1em;
          padding-left: 1em;

          width: 48%;

          font-size: 1.115rem;
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.025em;
          text-decoration: none;
          text-align: center;
          color: white;

          cursor: pointer;

          background-color: transparent;
          border: 3px solid lighten($americaScoresBlue, 15%);
          border-radius: 4px;

          transition: all 0.25s ease;

          &:hover,
          &:focus {
            background-color: lighten($americaScoresBlue, 15%);
          }
        }

        .Footer-mainSecondaryActionsDonate {
          display: block;

          padding-top: 0.85em;
          padding-bottom: 0.85em;
          padding-right: 1em;
          padding-left: 1em;

          width: 48%;

          font-size: 1.115rem;
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.025em;
          text-decoration: none;
          text-align: center;
          color: white;

          cursor: pointer;

          background-color: $americaScoresRed;
          border: 3px solid transparent;
          border-radius: 4px;

          transition: all 0.25s ease;

          &:hover,
          &:focus {
            border-color: darken($americaScoresRed, 15%);
          }

          &:hover .Footer-mainSecondaryButtonIcon svg,
          &:focus .Footer-mainSecondaryButtonIcon svg {
            fill: darken($americaScoresRed, 25%);
          }
        }

          .Footer-mainSecondaryActionsDonateIcon {
            position: relative;
            display: inline-block;

            left: -0.25em;
            bottom: -0.0625em;

            width: 1.25em;
            height: 1em;

            vertical-align: bottom;

            svg {
              width: 100%;
              height: 100%;

              fill: darken($americaScoresRed, 15%);
            }
          }

      .Footer-mainSecondaryForm {
        position: relative;
        display: block;

        margin: 0;

        @media (min-width: 38em) {
          @include flexbox;
          @include justify-content(center);
        }
      }

        .Footer-mainSecondaryFormInput {
          box-sizing: border-box;
          display: block;

          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 0.5em;
          padding-left: 2.75em;

          max-width: 100%;
          width: 100%;

          -webkit-appearance: none;
          outline: 0;

          font-size: 1rem;
          font-weight: 600;
          line-height: 1;
          color: #767676;

          background-color: white;
          border: 0.15em solid #fec737;
          border-radius: 3px;

          transition: all 0.25s ease;
        }

        .Footer-mainSecondaryFormIcon {
          position: absolute;
          display: block;

          top: 0;
          left: 0.75em;

          width: 1.5em;
          height: 100%;

          overflow: hidden;

          fill: darken(#fec737, 15%);

          @media (max-width: 38em) {
            height: 47.5%;
          }
        }

        .Footer-mainSecondaryFormButton {
          position: relative;
          display: inline-block;

          margin-left: 1em;

          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 1.25em;
          padding-left: 1.25em;

          -webkit-appearance: button;
          white-space: nowrap;

          cursor: pointer;
          outline: 0;

          font-size: 1rem;
          font-weight: 700;
          line-height: 1;
          color: darken(#fec737, 55%);

          background-color: #fec737;
          border: 0.15em solid darken(#fec737, 15%);
          border-radius: 3px;

          transition: all 0.25s ease;

          @media (max-width: 38em) {
            margin-top: 0.5em;
            margin-left: 0;

            width: 100%;
          }
        }

  .Footer-navigation {
    display: block;

    margin-top: 1.25em;

    width: 100%;

    @media (min-width: 28em) {
      @include flexbox;
      @include flex-wrap(wrap);
    }
  }

    .Footer-navigationColumn {

      @media (min-width: 28em) {
        flex: 1 0 50%;
      }

      @media (min-width: 38em) {
        flex: 1 0 33.33%;
      }

      @media (max-width: 38em) {
        margin-top: 1.5em;
      }
    }

      .Footer-navigationColumnHeading {
        display: block;

        padding-bottom: 0.25em;

        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.015em;
        color: white;
      }

        .Footer-navigationColumnHeadingLink {
          color: inherit;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }

      .Footer-navigationColumnList {
        list-style: none;
        margin: 0;
        padding: 0;
      }

        .Footer-navigationColumnListItem {
          margin-top: 1em;
        }

          .Footer-navigationColumnListItemLink {
            display: block;

            font-size: 0.825rem;
            font-weight: 600;
            line-height: 1.15;
            letter-spacing: -0.0125em;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.64);

            &:focus,
            &:hover {
              color: rgba(255, 255, 255, 0.87);
            }

            &:focus {
              outline: 1px dotted $americaScoresCoolGrey;
            }
          }

  .Footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 4em;

    padding-top: 0.575em;
    padding-bottom: 0.575em;
    padding-right: 0.75em;
    padding-left: 0.75em;

    width: 100%;

    background-color: white;
    border-radius: 3px;

    @media (min-width: 38em) {
      padding-right: 1em;
      padding-left: 1em;
    }

    @media (min-width: 48em) {
      padding-right: 1.25em;
      padding-left: 1.25em;
    }
  }

    .Footer-socialLabel {
      display: none;

      line-height: 1;
      letter-spacing: -0.0125em;
      color: black;
    }

    .Footer-socialLink {
      display: block;

      padding: 0.5em;

      width: 50%;

      font-size: 1rem;
      line-height: 1;
      font-weight: 400;
      letter-spacing: -0.0125em;
      text-align: center;

      &:focus {
        transform: translateY(1px);
      }

      @media (min-width: 28em) {
        width: 33.33%;
      }
    }

    .Footer-socialLink--twitter {
      color: #55acee;

      &:hover,
      &:focus {
        color: darken(#55acee, 15%);
      }
    }

    .Footer-socialLink--facebook {
      color: #3b5998;

      &:hover,
      &:focus {
        color: darken(#3b5998, 15%);
      }
    }

    .Footer-socialLink--instagram {
      color: #c13584;

      &:hover,
      &:focus {
        color: darken(#c13584, 15%);
      }
    }

    .Footer-socialLink--youtube {
      color: #bb0000;

      &:hover,
      &:focus {
        color: darken(#bb0000, 15%);
      }
    }

    .Footer-socialLink--flickr {
      color: #0063dc;

      &:hover,
      &:focus {
        color: darken(#0063dc, 15%);
      }
    }

    .Footer-socialLink--linkedin {
      color: #0077b5;

      &:hover,
      &:focus {
        color: darken(#0077b5, 15%);
      }
    }

      .Footer-socialLink .Icon {
        position: relative;

        bottom: -0.1em;
      }

  .Footer-auxiliary {
    position: relative;

    @include flexbox;
    @include align-items(flex-start);
    @include flex-direction(column);

    margin-top: 4em!important;
    margin-right: auto;
    margin-left: auto;

    padding-top: 1.5em;
    padding-bottom: 1em;

    width: 100%;
    max-width: 64em;

    border-top: 2px solid darken($americaScoresBlue, 15%);

    @media (min-width: 48em) {
      @include align-items(flex-start);
      @include flex-direction(row);
    }
  }

    .Footer-auxiliaryColumn {}

    .Footer-auxiliaryColumn--flex {
      @include flexbox;
      @include align-items(flex-end);
      @include flex-direction(column);
    }

    .Footer-auxiliaryColumn--address {
      margin-top: 1em;
      margin-left: 0;

      @media (min-width: 48em) {
        margin-top: 0;
        margin-left: 2em;
      }

    }

    // Terrible css, ujujuju
    .Footer-auxiliaryColumn--smile {
      background-color: #fff;
      border-radius: 3px;

      > a {
        display: block;
        padding: 0.75em 0.75em 0.75em 0.75em;

        &:hover {
          opacity: 0.72;
        }
      }

      img {
        max-width: 8rem;
      }

      @media (min-width: 38em) {
        margin-left: 2em;
      }
    }

    .Footer-auxiliaryColumn--goAway {
      margin-left: auto;
      margin-top: auto;
    }

      .Footer-auxiliaryColumnCite {
        display: block;

        margin-bottom: 0.5em;

        font-size: 0.7rem;
        font-weight: 700;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.0125em;
        text-transform: uppercase;
        color: white;
      }

      .Footer-auxiliaryColumnFootprint {
        display: block;
        margin-bottom: 0;

        font-size: 0.7rem;
        font-weight: 600;
        line-height: 1.625;
        color: rgba(255, 255, 255, 0.87);

        a {
          color: inherit;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);

          &:hover {
            border-bottom-color: rgba(255, 255, 255, 0.6);
          }
        }

        @media (min-width: 38em) {
          max-width: 24em;
        }
      }

      .Footer-auxiliaryColumnLink {
        display: block;

        font-size: 0.7rem;
        font-weight: 600;
        color: white;

        &:hover {
          color: rgba(255, 255, 255, 0.8);
        }

        &:focus {
          transform: translateY(1px);
        }

        @media (max-width: 42em) {
          margin-top: 2em;
        }
      }

        .Footer-auxiliaryColumnLink .Icon {
          position: relative;
          display: inline-block;

          // Love them icons
          bottom: -1px;

          font-size: 0.9rem;
        }
