.News {
  position: relative;
  display: block;

  padding-top: 10em;
  padding-bottom: 4em;

  background-color: lighten($americaScoresCoolGrey, 15%);

  @media (min-width: 38em) {
    padding-right: 1em;
    padding-left: 1em;
  }
}

  .News-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;

    max-width: 54em;

    @media (max-width: 38em) {
      padding-right: 1em;
      padding-left: 1em;
    }
  }

    .News-headerTitle {
      display: block;

      margin: 0;

      font-family: "DCSCORES", sans-serif;
      font-size: 1.75rem;
      line-height: 1;
      letter-spacing: -0.015em;
      color: darken($americaScoresBlue, 15%);

      @media (min-width: 48em) {
        font-size: 2rem;
      }

      @media (min-width: 58em) {
        font-size: 2.25rem;
      }
    }

    .News-headerLink {
      display: block;

      white-space: nowrap;

      font-size: 1rem;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.025em;
      text-decoration: none;
      color: darken($americaScoresBlue, 5%);

      border-bottom: 0.175em solid darken($americaScoresYellow, 5%);
      box-shadow: none;

      @media (min-width: 58em) {
        font-size: 1.1rem;
      }

      @media (min-width: 96em) {
        font-size: 1.125rem;
      }
    }

  .News .Grid {
    cursor: move; // Fallback if grab cursor is unsupported
    cursor: -webkit-grab;
       cursor: -moz-grab;
            cursor: grab;

    @media (min-width: 38em) {

      &::after {
        content: "";
        position: absolute;
        display: block;

        top: 0;
        right: 0;

        width: 20%;
        height: 100%;

        pointer-events: none;

        background-image:
          linear-gradient( to right,
            rgba(229, 230, 231, 0),
            rgba(229, 230, 231, 1)
        );
      }

    }
  }

  .News-previousButton,
  .News-nextButton {
    position: absolute;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    top: 0;

    width: 1.25em;
    height: 1.25em;

    cursor: pointer;
    outline: 0;

    font-size: 2rem;
    line-height: 1em;
    color: white;

    border: 0;
    border-radius: 0;

    z-index: 99;

    @media (max-width: 38em) {
      display: none!important;
    }
  }

  .News-previousButton {
    top: 1em;
    right: 0;

    color: darken($americaScoresBlue, 15%);

    background-color: transparent;
    border: 3px solid darken($americaScoresBlue, 15%);
    border-radius: 4px;

    &:hover,
    &:focus {
      color: white;
      background-color: darken($americaScoresBlue, 15%);
    }

    &:focus {
      box-shadow: 0 0 0 0.075em lighten($americaScoresBlue, 65%);
    }
  }

  .News-nextButton {
    top: 2.45em;
    right: -0.275em;

    color: darken($americaScoresBlue, 15%);

    background-color: transparent;
    border: 3px solid darken($americaScoresBlue, 15%);
    border-radius: 4px;

    &:hover,
    &:focus {
      color: white;
      background-color: darken($americaScoresBlue, 15%);
    }

    &:focus {
      box-shadow: 0 0 0 0.075em lighten($americaScoresBlue, 65%);
    }
  }

  .News .slick-dots {
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin-top: 1.5em;

    pointer-events: none;
  }

    .News .slick-dots li {
      display: block;

      margin: 0 2vw;
      padding: 0;

      width: 0.75em;
      height: 0.75em;

      cursor: pointer;

      background-color: darken($americaScoresCoolGrey, 0%);
      border-radius: 100%;
    }

    .News .slick-dots li.slick-active {
      background-color: lighten($americaScoresRed, 5%);
    }

      .News .slick-dots button {
        display: none;
      }

  .News-story {
    position: relative;
    display: block;

    margin-right: 1.25em;

    width: 320px;
    min-height: 400px!important; // CSS, it's great. It is just specificity.

    background: white;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    &:hover .News-storyThumbnailLink {
      -webkit-transform: scale(1.05);
         -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
           -o-transform: scale(1.05);
              transform: scale(1.05);
    }

    @media (min-width: 38em) {
      width: 360px;
    }

    @media (min-width: 48em) {
      width: 380px;
      height: 420px!important;
    }

    @media (min-width: 54em) {
      height: 480px!important;
    }
  }

    .News-storyThumbnail {
      position: relative;
      overflow: hidden;

      border-top-right-radius: 2px;
      border-top-left-radius: 2px;

      &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
        width: 100%;
      }
    }

      .News-storyThumbnailLink {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-decoration: none;

        background-color: orange;
        transition: transform 0.2s ease;
      }

        .News-storyThumbnailLinkImage {
          display: block;
        }

    .News-storyContent {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      padding-right: 0.75em;
      padding-left: 0.75em;
    }

      .News-storyContentHeadline {
        display: block;

        margin-bottom: 0.5em;

        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.015em;
        color: lighten($americaScoresBlue, 5%);
      }

        .News-storyContentHeadlineLink {
          display: block;

          cursor: pointer;
          color: inherit;

          box-shadow: none;
          transition: color 0.15s ease;

          &:hover,
          &:focus {
            color: lighten($americaScoresBlue, 25%);
          }
        }

      .News-storyContentBlurb {
        font-size: 0.875rem;
        line-height: 1.45;
      }

    .News-storyFooter {
      position: absolute;
      display: block;

      bottom: 0;
      left: 0;

      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-right: 1em;
      padding-left: 1em;

      width: 100%;

      text-align: right;

      @media (min-width: 38em) {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-left: 1em;
      }
    }

      .News-storyFooterLink {
        font-size: 0.825rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.025em;
        color: darken($americaScoresCoolGrey, 25%);

        border-bottom: 3px solid lighten($americaScoresCoolGrey, 15%);
        box-shadow: none;
      }























