.Ola {
  position: relative;

  padding-top: 0;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;

  background-image: url(../assets/textures/dots--grey.png);
  background-repeat: no-repeat;
  background-position: 160% 50%;
  background-color: $americaScoresBlue;
  background-size: 34rem;

  &::after {
    content: "";
    position: absolute;
    display: none;

    top: 0;
    left: 0;

    width: 40%;
    height: 100%;

    background-image: url(../assets/images/crest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-color: teal;
  }

  @media (min-width: 38em) {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-right: 2em;
    padding-left: 2em;
  }

  @media (min-width: 54em) {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 2.5em;
    padding-left: 2.5em;

    background-position: 10% 5%;
    background-size: 38.75rem;
  }
}

  .Ola-figure {
    display: block;

    margin-top: 2em;
    margin-bottom: -2em;
    margin-right: 0;
    margin-left: 0;

    max-width: 5em;

    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);

    transition: transform 0.625s cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 9;

    @media (min-width: 38em) {
      max-width: 8em;
    }

    @media (min-width: 48em) {
      -ms-flex-negative: 0;
      flex-shrink: 0;

      margin: 1.5em;

      max-width: 9em;

      &:hover {
        -webkit-transform: rotate(350deg);
                transform: rotate(350deg);
      }
    }
  }

    .Ola-figureImage {
      opacity: 0.6;

      @media (min-width: 48em) {
        opacity: 1;
      }
    }

  .Ola-content {
    position: relative;

    padding-left: 10%;

    z-index: 99;

    @media (min-width: 38em) {
      padding-left: 5%;
    }

    @media (min-width: 48em) {
      padding-left: 2.5%;
    }
  }

    .Ola-contentTitle {
      display: block;

      font-family: "DCSCORES", sans-serif;
      font-size: 1.6rem;
      line-height: 1;
      color: white;

      @media (min-width: 38em) {
        font-size: 1.8rem;
      }

      @media (min-width: 48em) {
        font-size: 2rem;
      }

      @media (min-width: 58em) {
        font-size: 2.25rem;
      }
    }

    .Ola-contentDescription {
      display: block;

      margin-top: 0.5em;
      margin-left: 1em;

      font-size: 0.785rem;
      font-weight: 400;
      line-height: 1.45;
      color: rgba(255, 255, 255, 0.87);

      @media (min-width: 28em) {
        margin-top: 0.75em;
        margin-left: 1em;
      }

      @media (min-width: 38em) {
        margin-top: 0.75em;
        margin-left: 1.25em;

        font-size: 0.9rem;
      }

      @media (min-width: 48em) {
        margin-top: 1em;
        margin-left: 1.5em;

        font-size: 1rem;
      }

      @media (min-width: 58em) {
        margin-top: 1.25em;
        margin-left: 1.5em;

        font-size: 1.1rem;
      }
    }

    .Ola-contentFooter {
      display: flex;
      justify-content: flex-end;

      margin-top: 1.25em;

      @media (min-width: 38em) {
        margin-top: 1.5em;
      }

      @media (min-width: 48em) {
        margin-top: 2em;
      }
    }

      .Ola-contentFooterLink {
        position: relative;
        display: block;

        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-right: 0.75em;
        padding-left: 0.75em;

        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1;
        text-align: right;
        letter-spacing: -0.0115em;
        color: white;

        border: 0.15em solid white;
        border-radius: 4px;

        &:hover,
        &:focus {
          color: darken($americaScoresBlue, 5%);
          background-color: white;
        }

        &:focus {
          box-shadow: 0 0 0 0.175em rgba(255, 255, 255, 0.5);
          transform: translateY(1px);
        }

        @media (min-width: 48em) {
          padding-top: 0.75em;
          padding-bottom: 0.75em;
          padding-right: 0.75em;
          padding-left: 0.75em;

          font-size: 0.8rem;
        }
      }






















