---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url({{ page["Top Image"] }}); background-position: {{ page["Top Image Position"] }};">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Blog</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__m1-m6">
    {% for post in site.posts limit:site.per_page %}
      {% include post.html post=post is_excerpt=true %}
    {% endfor %}
    </div>

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6  Grid__m-newline">
      <div class="OlderArticles">
        <p class="OlderArticles-message">For older DC SCORES blog posts dating back to 2009, visit <a href="http://dcscores.blogspot.com/" target="_blank">www.DCSCORES.blogspot.com</a></p>
      </div>
    </div>
  </section>
</main>