---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url(/assets/images/masthead-blog.jpg); background-position: 50% 60%;">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Blog</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__m1-m6">
    {% for post in site.posts limit:site.per_page %}
      {% include post.html post=post is_excerpt=true %}
    {% endfor %}
    </div>
  </section>
</main>