---
layout: default
---

<main class="Main  Main--noTop">
  <div class="Image  Image--superMan  Grid__d1-d6  Grid__m1-m6" style="background-image: url(/uploads/image-dc-united.jpg); background-position: top center;"></div>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6  Grid__m-newline">
      <h2>D.C. United Partnership</h2>
    </div>

    <div class="Grid__d1-d2  Grid__m1-m5  Grid__m-newline">
      <img src="/assets/images/dc-united-logo.png" alt="">
    </div>

    <div class="Grid__d3-d5  Grid__m1-m6  Grid__m-newline">
      {{ page.content | markdownify }}
    </div>
  </section>

  <section class="Grid  Grid--large">
    <div class="United">

      <a href="https://www.flickr.com/photos/dcscorespictures/tags/dcunited/" class="United-box" target="_blank" style="background-image: url(/uploads/united--photos.jpg); background-position: 40% 50%;">
        <div class="United-boxContent">
          <h3 class="United-boxContentTitle">Photos</h3>
        </div>

        <i class="Icon  Icon-externalLink"></i>
      </a>

      <a href="https://www.dcunited.com/search/dc%20scores" class="United-box" target="_blank" style="background-image: url(/uploads/united--media.jpg); background-position: 15% 50%;">
        <div class="United-boxContent">
          <h3 class="United-boxContentTitle">Media</h3>
        </div>

        <i class="Icon  Icon-externalLink"></i>
      </a>

      <a href="https://twitter.com/search?l=&q=%40dcunited%20%40dcscores&src=typd&lang=en" class="United-box" target="_blank" style="background-image: url(/uploads/united--social-media.jpg); background-position: 50% 50%;">
        <div class="United-boxContent">
          <h3 class="United-boxContentTitle">Social Media</h3>
        </div>

        <i class="Icon  Icon-externalLink"></i>
      </a>

    </div>
  </section>
</main>
