---
layout: default
---

<main class="Main  Main--noTop">
  <div class="Image  Image--superMan  Grid__d1-d6  Grid__m1-m6" style="background-image: url(/uploads/image-dc-united.jpg); background-position: top center;"></div>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6  Grid__m-newline">
      <h2>D.C. United Partnership</h2>
    </div>

    <div class="Grid__d1-d2  Grid__m1-m5  Grid__m-newline">
      <img src="/assets/images/dc-united-logo.png" alt="">
    </div>

    <div class="Grid__d3-d5  Grid__m1-m6  Grid__m-newline">
      {{ page.content | markdownify }}
    </div>
  </section>
</main>