<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="/scripts/app.js"></script>
    <script>
      {% include _scripts/service-worker.js %}
    </script>
    <script>{% include _scripts/analytics.js %}</script>
  </body>
</html>
