---
layout: default
---

<section class="Hero">

  <header class="Hero-header  Grid--large">
    <div class="Grid__d2-d5  Grid__m2-m5">
      {% comment %}<h1 class="Hero-headerTitle">Building Teams,<br>Improving Lives.</h1>{% endcomment %}
      <p class="Hero-headerIntroduction"></p>
    </div>
  </header>

  <div class="Hero-main">
    <div class="Hero-mainContainer">

      <!-- Mystique module -->
      <div class="Mystique">
        <div class="Mystique-shape  Mystique-shape--first">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Impact</h3>
            <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>

            <div class="Mystique-shapeContentFooter">
              <a href="/impact" class="Mystique-shapeContentFooterLink">See more</a>
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--second">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Our mission</h3>
            <p class="Mystique-shapeContentBlurb">DC SCORES goes where kids in need are and creates neighborhood teams that give kids the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

            <div class="Mystique-shapeContentFooter">
              <a href="/about-us/mission-and-history" class="Mystique-shapeContentFooterLink">Learn more</a>
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--third">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Donate</h3>
            <p class="Mystique-shapeContentBlurb">Help us empower DC students through recurring or one time donation.</p>

            <div class="Mystique-shapeContentFooter">
              <a href="http://bit.ly/GiveToDCSCORES" target="_blank" class="Mystique-shapeContentFooterLink">Donate</a>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- If'y solution, for now -->
<div class="u-preloadImages">
  <img src="assets/images/hero-01--large.jpg" width="1" height="1" alt="">
  <img src="assets/images/hero-02--large.jpg" width="1" height="1" alt="">
  <img src="assets/images/hero-03--large.jpg" width="1" height="1" alt="">
</div>



<div class="News">

  <header class="News-header">
    <h2 class="News-headerTitle">From the Blog</h2>
    <a href="/blog" class="News-headerLink">See all posts</a>
  </header>

  <div class="Grid  Grid--large  js-carouselNews">

    <!-- Single news story -->
    {% for post in site.posts limit:5 %}
    <div class="News-story">

      <!-- Story thumbnail -->
      <div class="News-storyThumbnail">
        <a href="{{ post.url }}" class="News-storyThumbnailLink">
          <img class="News-storyThumbnailLinkImage" src="{{ post.featuredImage }}" alt="">
        </a>
      </div>

      <!-- Story content -->
      <div class="News-storyContent">
        <h3 class="News-storyContentHeadline">
          <a href="{{ post.url }}" class="News-storyContentHeadlineLink">{{ post.title }}</a>
        </h3>
        <p class="News-storyContentBlurb">{{ post.content | strip_html | truncatewords: 18 }}</p>
      </div>

      <!-- Story footer -->
      <div class="News-storyFooter">
        <a href="{{ post.url }}" class="News-storyFooterLink">Read more</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>



<div class="Events">

  <header class="Events-header">
    <h3 class="Events-headerTitle">Upcoming events</h3>
    {% comment %}<a href="#" class="Events-headerLink">Past events</a>{% endcomment %}
  </header>

  <div class="Grid  Grid--large">
    <div class="Events-events">

      <!-- First event -->
      <a href="#" class="Events-eventsEvent">
        <div class="Events-eventsEventThumbnail" style="background-image: url(http://www.americascores.org/wp-content/uploads/2017/04/5.12.17.jpg); background-position: center left;"></div>

        <div class="Events-eventsEventContent" style="background-color: #db0065;">
          <time class="Events-eventsEventContentDate">June 8, 2017</time>
          <h3 class="Events-eventsEventContentHeadline">Do More 24</h3>
          <p class="Events-eventsEventContentBlurb">June 8 is Do More 24, the annual day of giving for Washington, DC, area nonprofits.</p>

          <h4 class="Events-eventsEventContentHashtag">Use hashtag: <span>#DoMore24</span></h4>
        </div>
      </a>

      <!-- Second event -->
      <a href="#" class="Events-eventsEvent">
        <div class="Events-eventsEventThumbnail" style="background-image: url(http://www.americascores.org/wp-content/uploads/2017/05/6.20.16-jamboree-recap.png); background-position: center;"></div>

        <div class="Events-eventsEventContent" style="background-color: #c2272d;">
          <time class="Events-eventsEventContentDate">June 3, 2017</time>
          <h3 class="Events-eventsEventContentHeadline">Jamboree!</h3>
          <p class="Events-eventsEventContentBlurb">Don’t miss our largest event of the year, Jamboree! Saturday, June 3. Join 2,000 others for an action-packed day.</p>
        </div>
      </a>

    </div>
  </div>

</div>



{% comment %}
<div class="Ola">
  <div class="Grid  Grid--superSmall  u-displayFlex  u-displayFlex--untilNarrow">

    <figure class="Ola-figure">
      <img class="Ola-figureImage" src="assets/images/crest.png" alt="">
    </figure>

    <div class="Ola-content">
      <h2 class="Ola-contentTitle">Our mission</h2>
      <p class="Ola-contentDescription">DC SCORES goes where kids in need are and creates neighborhood teams that give kids the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

      <div class="Ola-contentFooter">
        <a href="#" class="Ola-contentFooterLink">Learn more</a>
      </div>
    </div>

  </div>
</div>
{% endcomment %}



<div class="Event">
  <div class="Event-moment">

    <!-- Big main photo -->
    <div class="Event-momentPrimary"></div>

    <!-- Two smaller photos -->
    <div class="Event-momentSecondary">
      <div class="Event-momentSecondaryTop"></div>
      <div class="Event-momentSecondaryBottom"></div>
    </div>

  </div>

  <aside class="Event-callout  Event-callout--alignLeft">
    <img class="Event-calloutImage" src="" alt="">
    <h2 class="Event-calloutTitle">Poetry Slam!</h2>
    <p class="Event-calloutDescription">DC's largest youth spoken-word competition features DC SCORES students performing their original works of poetry.</p>

    <div class="Event-calloutFooter">
      <a href="http://bit.ly/2rMkke2" class="Event-calloutFooterLink" target="_blank">
        <i class="Icon  Icon-youtube"></i>
        Watch videos</a>

        <a href="https://www.flickr.com/photos/dcscorespictures/albums/72157675210604741" class="Event-calloutFooterLink" target="_blank">
          <i class="Icon  Icon-flickrEmpty"></i>
          See photos</a>
    </div>
  </aside>
</div>



<div class="Supporters">

  <div class="Supporters-header">
    <h3 class="Supporters-headerTitle">Supporters</h3>
    <a href="/supporters" class="Supporters-headerLink">See all</a>
  </div>

  <ul class="Supporters-list  Grid  Grid--large">
    <li class="Supporters-listItem">
      <a href="https://www.dcunited.com/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/dc-united.png" alt="">
      </a>
    </li>

    <li class="Supporters-listItem">
      <a href="https://osse.dc.gov/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/osse.png" alt="">
      </a>
    </li>

    <li class="Supporters-listItem">
      <a href="http://thecityfund.org/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/city-fund.png" alt="">
      </a>
    </li>

    <li class="Supporters-listItem">
      <a href="https://ussoccerfoundation.org/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/us-soccer-foundation.png" alt="">
      </a>
    </li>
  </ul>

</div>



<!--
<div class="Action">
  <div class="Action-item">

    <a href="#" class="Action-itemLink">
      <h2 class="Action-itemLinkTitle">Get Involved</h2>
      <p class="Action-itemLinkBlurb">Mauris et lectus commodo, ultrices magna eget, sodales.</p>
    </a>

  </div>

  <div class="Action-item">

    <a href="#" class="Action-itemLink">
      <h2 class="Action-itemLinkTitle">Make a Donation</h2>
      <p class="Action-itemLinkBlurb">Nullam mattis interdum mi a placerat. Sed eu placerat.</p>
    </a>

  </div>
</div>
-->





































