---
layout: default
---

<div class="Carousel" data-flickity='{ "draggable": true, "autoPlay": 8000 }'>
  {% assign sorted_carousel = site.carousel | sort:'position' %}
  {% for slide in sorted_carousel limit:4 %}
  <a href="{{ slide["Link"] }}" class="Carousel-cell" style="background-image: url({{ slide["Image"] }}); background-position: {{ slide["Image Position"] }};" target="_blank">
    <div class="Carousel-cellWrapper">

      <!-- Carousel content -->
      <div class="CarouselContent">
        <h2 class="CarouselContent-headline">{{ slide.title }}</h2>
        <h3 class="CarouselContent-blurb">{{ slide.content | remove: '<p>' | remove: '</p>' }}</h3>
      </div>

    </div>
  </a>
  {% endfor %}
</div>

<div class="CarouselNavigation" data-flickity='{ "asNavFor": ".Carousel", "contain": true, "pageDots": false, "prevNextButtons": false }'>
  {% assign sorted_carousel = site.carousel | sort:'position' %}
  {% for slide in sorted_carousel limit:4 %}
  <div class="CarouselNavigation-item" style="background-image: url({{ slide["Image"] }}); background-position: 50% 50%;">

    <!-- Carousel nav item content -->
    <div class="CarouselNavigation-itemContent">
      <h4 class="CarouselNavigation-itemContentHeadline">{{ slide.title }}</h4>
      {% comment %}<h5 class="CarouselNavigation-itemContentBlurb"></h5>{% endcomment %}
    </div>

  </div>
  {% endfor %}
</div>

<!-- MailChimp -->
<div class="MailChimp">
  <div class="Grid  Grid--medium">
    <div class="MailChimp-content">
      <h3 class="MailChimp-contentTitle">Connect with DC SCORES</h3>
      <p class="MailChimp-contentBlurb">Subscribe to our mailing list to get inspiring stories straight to your inbox</p>
      <a href="https://lp.constantcontactpages.com/su/SgVQ4eV/DCSCORESNewsletter" class="MailChimp-button" style="margin-top: 1.25em" target="_blank">Subscribe</a>
    </div>
  </div>
</div>

{% comment %}
<section class="Hero">

  <header class="Hero-header  Grid--large">
    <div class="Grid__d5-d6  Grid__m2-m6">
      <h1 class="Hero-headerTitle">DC SCORES wins AIM Excellence Award</h1>
      <p class="Hero-headerIntroduction">
        <a href="http://bit.ly/AwardsDaySCORES" class="Hero-headerIntroductionLink" target="_blank">Read more</a>
      </p>
    </div>
  </header>

  <div class="Hero-main">
    <div class="Hero-mainContainer">

      <!-- Mystique module -->
      <div class="Mystique">

        <!-- For news block -->
        <style>

          @media (min-width: 37.5em) {
            .Mystique::before {
              background-image: url(/uploads/aim-excellence-award.jpg);
              background-position: 50% 25%;
            }
          }

        </style>

        <div class="Mystique-shape  Mystique-shape--first">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Impact</h3>
            {% comment %}<p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>{% endcomment %}

            <!-- Carousel -->
            <div class="TextCarousel">
              <ul class="TextCarousel-panes">
                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>83%</strong> of participants improved their aerobic capacity.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a year of DC SCORES, <strong>96%</strong> of participants discovered something they’re good at.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>83%</strong> of participants improved their aerobic capacity.</p>
                </li>
              </ul>
            </div>

            <div class="Mystique-shapeContentFooter">
              <a href="/impact" class="Mystique-shapeContentFooterLink">See more</a>
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--second">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Our mission</h3>
            <p class="Mystique-shapeContentBlurb">DC SCORES goes where kids in need are and creates neighborhood teams that give kids the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

            <div class="Mystique-shapeContentFooter">
              <a href="/about-us/mission-and-history" class="Mystique-shapeContentFooterLink">Learn more</a>
              <!--<span class="Mystique-shapeContentFooterLink  init-video" data-youtube-url="https://www.youtube.com/watch?v=BrLjDEZX9A8">Learn more</span>-->
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--third">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Donate</h3>
            {% comment %}<p class="Mystique-shapeContentBlurb">Help us empower DC students through recurring or one time donation.</p>{% endcomment %}

            <div class="TextCarousel">
              <ul class="TextCarousel-panes">
                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Help us empower DC kids through recurring or one time donation!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">You can change a kid’s life by giving today!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Give a DC child a voice and the power of self-expression!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Help us empower DC kids through recurring or one time donation!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">You can change a kid’s life by giving today!</p>
                </li>
              </ul>
            </div>

            <div class="Mystique-shapeContentFooter">
              <a href="https://link.dcscores.org/donate" target="_blank" class="Mystique-shapeContentFooterLink">Donate</a>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>

</section>
{% endcomment %}

<!-- Home embed -->
<div id="gCFRSuHPnlQ" class="AgileEmbed">
  <div class="AgileEmbed-callout">
    <a href="http://youtube.com/DCSCORES" class="AgileEmbed-calloutLink" target="_blank">Watch more videos<br>on our Youtube channel</a>
  </div>
  <span class="AgileEmbed-notice">Play the Video</span>
</div>

<div class="TheHomePress">

  <header class="TheHomePress-header">
    <h2 class="TheHomePress-headerTitle">Recent news</h2>
    <a href="/impact/press" class="TheHomePress-headerLink">See all news</a>
  </header>

  <div class="TheHomePress-press">
    <div class="TheHomePress-pressList">
      {% assign sorted_press = site.press | sort:'date' | reverse %}
      {% for press in sorted_press limit:4 %}
      <a href="{{ press.link }}" class="TheHomePress-pressListItem" target="_blank">
        <h3 class="TheHomePress-pressListItemTitle">{{ press.title | truncatewords: 13 }}</h3>
        <strong class="TheHomePress-pressListItemSource">{{ press.source }}</strong>
      </a>
      {% endfor %}
    </div>
  </div>

</div>

<div class="News">

  <header class="News-header">
    <h2 class="News-headerTitle">From the Blog</h2>
    <a href="/blog" class="News-headerLink">See all posts</a>
  </header>

  <div class="Grid  Grid--large  js-carouselNews">

    <!-- Single news story -->
    {% for post in site.posts limit:5 %}
    <div class="News-story">

      <!-- Story thumbnail -->
      <div class="News-storyThumbnail">
        <a href="{{ post.url }}" class="News-storyThumbnailLink">
          <img class="News-storyThumbnailLinkImage" src="{{ post["Thumbnail Image"] }}" alt="">
        </a>
      </div>

      <!-- Story content -->
      <div class="News-storyContent">
        <h3 class="News-storyContentHeadline">
          <a href="{{ post.url }}" class="News-storyContentHeadlineLink">{{ post.title }}</a>
        </h3>
        <p class="News-storyContentBlurb">{{ post.content | strip_html | truncatewords: 24 }}</p>
      </div>

      <!-- Story footer -->
      <div class="News-storyFooter">
        <a href="{{ post.url }}" class="News-storyFooterLink">Read more</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<div class="Events">

  <header class="Events-header">
    <h3 class="Events-headerTitle">Upcoming events</h3>
    {% comment %}<a href="/impact/press" class="Events-headerLink">See all news</a>{% endcomment %}
  </header>

  <div class="Grid  Grid--large">
    <div class="Events-events">

      <!-- Single event -->
      {% assign sorted_events = site.events | sort:'position' %}
      {% for event in sorted_events limit:2 %}
      <a href="{{ event["Link"] }}" class="Events-eventsEvent{% if event["Is Finished"] == "Yes" %}  Events-eventsEvent--isFinished{% endif %}" target="_blank">
        <div class="Events-eventsEventThumbnail" style="background-image: url({{ event["Image"] }}); background-position: {{ event["Image Position"] }};"></div>

        <div class="Events-eventsEventContent" style="background-color: {{ event["Color"] }};">
          <time class="Events-eventsEventContentDate">{{ event.date | date: site.date_format }}</time>
          <h3 class="Events-eventsEventContentHeadline">{{ event.title }}</h3>
          <p class="Events-eventsEventContentBlurb">{{ event["Blurb"] }}</p>

          {% if event["Hashtag"] %}<h4 class="Events-eventsEventContentHashtag">Use hashtag: <span>{{ event["Hashtag"] }}</span></h4>{% endif %}
        </div>
      </a>
      {% endfor %}

    </div>
  </div>

  {% comment %}
  <div class="Events-footer">
    <a href="#" class="Events-footerLink">See all news</a>
  </div>
  {% endcomment %}

</div>



<div class="Event">
  {% for event in page["Featured Event"] %}
  <div class="Event-moment">

    <!-- Big main photo -->
    <div class="Event-momentPrimary" style="background-image: url({{ event["Primary Image"] }}); background-position: {{ event["Primary Image Position"] }};"></div>

    <!-- Two smaller photos -->
    <div class="Event-momentSecondary">
      <div class="Event-momentSecondaryTop" style="background-image: url({{ event["Secondary Image Top"] }}); background-position: {{ event["Secondary Image Top Position"] }};"></div>
      <div class="Event-momentSecondaryBottom" style="background-image: url({{ event["Secondary Image Bottom"] }}); background-position: {{ event["Secondary Image Bottom Position"] }};"></div>
    </div>

  </div>

  <aside class="Event-callout  {% if event["Box Alignment"] == "Left" %}Event-callout--alignLeft{% endif %}{% if event["Box Alignment"] == "Right" %}Event-callout--alignRight{% endif %}" style="background-color: {{ event["Box Color"] }};">
    <h2 class="Event-calloutTitle" style="{% if event["Box Contrast"] == "Light" %}color: #fff;{% endif %}{% if event["Box Contrast"] == "Dark" %}color: #000;{% endif %}">{{ event["Title"] }}</h2>
    <p class="Event-calloutDescription" style="{% if event["Box Contrast"] == "Light" %}color: #fff;{% endif %}{% if event["Box Contrast"] == "Dark" %}color: #000;{% endif %}">{{ event["Description"] }}</p>

    <div class="Event-calloutFooter">
      {% if event["Video Link"] %}
      <a href="{{ event["Video Link"] }}" class="Event-calloutFooterLink" target="_blank" style="{% if event["Box Contrast"] == "Light" %}color: #fff;{% endif %}{% if event["Box Contrast"] == "Dark" %}color: #000;{% endif %}">
        <i class="Icon  Icon-youtube"></i>
        Watch videos</a>
      {% endif %}

      {% if event["Photo Link"] %}
      <a href="{{ event["Photo Link"] }}" class="Event-calloutFooterLink" target="_blank" style="{% if event["Box Contrast"] == "Light" %}color: #fff;{% endif %}{% if event["Box Contrast"] == "Dark" %}color: #000;{% endif %}">
        <i class="Icon  Icon-flickrEmpty"></i>
        See photos</a>
      {% endif %}
    </div>
  </aside>
  {% endfor %}
</div>

<div class="Supporters">

  <div class="Supporters-header">
    <h3 class="Supporters-headerTitle">Supporters</h3>
    <a href="/about-us/supporters" class="Supporters-headerLink">See all</a>
  </div>

  <ul class="Supporters-list  Grid  Grid--large">
    <li class="Supporters-listItem">
      <a href="https://osse.dc.gov/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/osse.png" alt="">
      </a>
    </li>
    
    <li class="Supporters-listItem">
      <a href="https://ussoccerfoundation.org/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/us-soccer-foundation.png" alt="">
      </a>
    </li>
    
    <li class="Supporters-listItem">
      <a href="https://www.dcunited.com/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/dc-united.png" alt="">
      </a>
    </li>
    
    <li class="Supporters-listItem">
      <a href="https://washingtonspirit.com/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/washington-spirit.png" alt="">
      </a>
    </li>
    
    <li class="Supporters-listItem">
      <a href="https://learn24.dc.gov" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/learn-24.png" alt="">
      </a>
    </li>
  </ul>

</div>
