---
layout: default
---

<div class="Carousel" data-flickity='{ "draggable": false }'>
  {% assign sorted_carousel = site.carousel | sort:'position' %}
  {% for slide in sorted_carousel limit:4 %}
  <a href="{{ slide["Link"] }}" class="Carousel-cell" style="background-image: url({{ slide["Image"] }}); background-position: {{ slide["Image Position"] }};" target="_blank">
    <div class="Carousel-cellWrapper">

      <!-- Carousel content -->
      <div class="CarouselContent">
        <h2 class="CarouselContent-headline">{{ slide.title }}</h2>
        <h3 class="CarouselContent-blurb">{{ slide.content | remove: '<p>' | remove: '</p>' }}</h3>
      </div>

    </div>
  </a>
  {% endfor %}
</div>

<div class="CarouselNavigation" data-flickity='{ "asNavFor": ".Carousel", "contain": true, "pageDots": false, "prevNextButtons": false }'>
  {% assign sorted_carousel = site.carousel | sort:'position' %}
  {% for slide in sorted_carousel limit:4 %}
  <div class="CarouselNavigation-item" style="background-image: url({{ slide["Image"] }}); background-position: 50% 50%;">

    <!-- Carousel nav item content -->
    <div class="CarouselNavigation-itemContent">
      <h4 class="CarouselNavigation-itemContentHeadline">{{ slide.title }}</h4>
      {% comment %}<h5 class="CarouselNavigation-itemContentBlurb"></h5>{% endcomment %}
    </div>

  </div>
  {% endfor %}
</div>































{% comment %}
<section class="Hero">

  <header class="Hero-header  Grid--large">
    <div class="Grid__d5-d6  Grid__m2-m6">
      <h1 class="Hero-headerTitle">DC SCORES wins AIM Excellence Award</h1>
      <p class="Hero-headerIntroduction">
        <a href="http://bit.ly/AwardsDaySCORES" class="Hero-headerIntroductionLink" target="_blank">Read more</a>
      </p>
    </div>
  </header>

  <div class="Hero-main">
    <div class="Hero-mainContainer">

      <!-- Mystique module -->
      <div class="Mystique">

        <!-- For news block -->
        <style>

          @media (min-width: 37.5em) {
            .Mystique::before {
              background-image: url(/uploads/aim-excellence-award.jpg);
              background-position: 50% 25%;
            }
          }

        </style>

        <div class="Mystique-shape  Mystique-shape--first">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Impact</h3>
            {% comment %}<p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>{% endcomment %}

            <!-- Carousel -->
            <div class="TextCarousel">
              <ul class="TextCarousel-panes">
                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>83%</strong> of participants improved their aerobic capacity.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a year of DC SCORES, <strong>96%</strong> of participants discovered something they’re good at.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>99%</strong> of participants were confident they would graduate high school.</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">After a 12-week DC SCORES season, <strong>83%</strong> of participants improved their aerobic capacity.</p>
                </li>
              </ul>
            </div>

            <div class="Mystique-shapeContentFooter">
              <a href="/impact" class="Mystique-shapeContentFooterLink">See more</a>
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--second">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Our mission</h3>
            <p class="Mystique-shapeContentBlurb">DC SCORES goes where kids in need are and creates neighborhood teams that give kids the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

            <div class="Mystique-shapeContentFooter">
              <a href="/about-us/mission-and-history" class="Mystique-shapeContentFooterLink">Learn more</a>
              <!--<span class="Mystique-shapeContentFooterLink  init-video" data-youtube-url="https://www.youtube.com/watch?v=BrLjDEZX9A8">Learn more</span>-->
            </div>
          </section>
        </div>

        <div class="Mystique-shape  Mystique-shape--third">
          <section class="Mystique-shapeContent">
            <h3 class="Mystique-shapeContentHeadline">Donate</h3>
            {% comment %}<p class="Mystique-shapeContentBlurb">Help us empower DC students through recurring or one time donation.</p>{% endcomment %}

            <div class="TextCarousel">
              <ul class="TextCarousel-panes">
                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Help us empower DC kids through recurring or one time donation!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">You can change a kid’s life by giving today!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Give a DC child a voice and the power of self-expression!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">Help us empower DC kids through recurring or one time donation!</p>
                </li>

                <li class="TextCarousel-panesPane">
                  <p class="Mystique-shapeContentBlurb">You can change a kid’s life by giving today!</p>
                </li>
              </ul>
            </div>

            <div class="Mystique-shapeContentFooter">
              <a href="http://bit.ly/GiveToDCSCORES" target="_blank" class="Mystique-shapeContentFooterLink">Donate</a>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>

</section>
{% endcomment %}

<!-- If'y solution, for now -->
{% comment %}
<div class="u-preloadImages">
  <img src="assets/images/hero-01--large.jpg" width="1" height="1" alt="">
  <img src="assets/images/hero-02--large.jpg" width="1" height="1" alt="">
  <img src="assets/images/hero-03--large.jpg" width="1" height="1" alt="">
</div>
{% endcomment %}



<!-- Home embed -->
<div id="gCFRSuHPnlQ" class="AgileEmbed">
  <div class="AgileEmbed-callout">
    <a href="http://youtube.com/DCSCORES" class="AgileEmbed-calloutLink" target="_blank">Watch more videos<br>on our Youtube channel</a>
  </div>
  <span class="AgileEmbed-notice">Play the Video</span>
</div>



<div class="TheHomePress">

  <header class="TheHomePress-header">
    <h2 class="TheHomePress-headerTitle">Recent news</h2>
    <a href="/impact/press" class="TheHomePress-headerLink">See all news</a>
  </header>

  <div class="TheHomePress-press">
    <ul class="TheHomePress-pressList">
      {% assign sorted_press = site.press | sort:'date' | reverse %}
      {% for press in sorted_press limit:4 %}
      <li class="TheHomePress-pressListItem">
        <a href="{{ press.link }}" class="TheHomePress-pressListItemLink" target="_blank">{{ press.title | truncatewords: 15 }}</a>
        <strong class="TheHomePress-pressListItemSource">{{ press.source }}</strong>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>



<div class="News" style="padding-top: 5em"><!-- remove padding later -->

  <header class="News-header">
    <h2 class="News-headerTitle">From the Blog</h2>
    <a href="/blog" class="News-headerLink">See all posts</a>
  </header>

  <div class="Grid  Grid--large  js-carouselNews">

    <!-- Single news story -->
    {% for post in site.posts limit:5 %}
    <div class="News-story">

      <!-- Story thumbnail -->
      <div class="News-storyThumbnail">
        <a href="{{ post.url }}" class="News-storyThumbnailLink">
          <img class="News-storyThumbnailLinkImage" src="{{ post.featuredImage }}" alt="">
        </a>
      </div>

      <!-- Story content -->
      <div class="News-storyContent">
        <h3 class="News-storyContentHeadline">
          <a href="{{ post.url }}" class="News-storyContentHeadlineLink">{{ post.title }}</a>
        </h3>
        <p class="News-storyContentBlurb">{{ post.content | strip_html | truncatewords: 18 }}</p>
      </div>

      <!-- Story footer -->
      <div class="News-storyFooter">
        <a href="{{ post.url }}" class="News-storyFooterLink">Read more</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>



<div class="Events">

  <header class="Events-header">
    <h3 class="Events-headerTitle">Upcoming events</h3>
    {% comment %}<a href="/impact/press" class="Events-headerLink">See all news</a>{% endcomment %}
  </header>

  <div class="Grid  Grid--large">
    <div class="Events-events">

      <!-- Single event -->
      {% assign sorted_events = site.events | sort:'position' %}
      {% for event in sorted_events limit:2 %}
      <a href="#" class="Events-eventsEvent{% if event["Is Finished"] == "Yes" %}  Events-eventsEvent--isFinished{% endif %}">
        <div class="Events-eventsEventThumbnail" style="background-image: url({{ event["Image"] }}); background-position: {{ event["Image Position"] }};"></div>

        <div class="Events-eventsEventContent" style="background-color: {{ event["Color"] }};">
          <time class="Events-eventsEventContentDate">{{ event.date | date: site.date_format }}</time>
          <h3 class="Events-eventsEventContentHeadline">{{ event.title }}</h3>
          <p class="Events-eventsEventContentBlurb">{{ event["Blurb"] }}</p>

          {% if event["Hashtag"] %}<h4 class="Events-eventsEventContentHashtag">Use hashtag: <span>{{ event["Hashtag"] }}</span></h4>{% endif %}
        </div>
      </a>
      {% endfor %}

    </div>
  </div>

  {% comment %}
  <div class="Events-footer">
    <a href="#" class="Events-footerLink">See all news</a>
  </div>
  {% endcomment %}

</div>



{% comment %}
<div class="Ola">
  <div class="Grid  Grid--superSmall  u-displayFlex  u-displayFlex--untilNarrow">

    <figure class="Ola-figure">
      <img class="Ola-figureImage" src="assets/images/crest.png" alt="">
    </figure>

    <div class="Ola-content">
      <h2 class="Ola-contentTitle">Our mission</h2>
      <p class="Ola-contentDescription">DC SCORES goes where kids in need are and creates neighborhood teams that give kids the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

      <div class="Ola-contentFooter">
        <a href="#" class="Ola-contentFooterLink">Learn more</a>
      </div>
    </div>

  </div>
</div>
{% endcomment %}



<div class="Event">
  <div class="Event-moment">

    <!-- Big main photo -->
    <div class="Event-momentPrimary"></div>

    <!-- Two smaller photos -->
    <div class="Event-momentSecondary">
      <div class="Event-momentSecondaryTop"></div>
      <div class="Event-momentSecondaryBottom"></div>
    </div>

  </div>

  <aside class="Event-callout  Event-callout--alignLeft">
    <img class="Event-calloutImage" src="" alt="">
    <h2 class="Event-calloutTitle">Poetry Slam!</h2>
    <p class="Event-calloutDescription">DC's largest youth spoken-word competition features DC SCORES students performing their original works of poetry.</p>

    <div class="Event-calloutFooter">
      <a href="https://www.youtube.com/playlist?list=PLaMKH-_ipEg_8sBhnn6F1zM5l_GE7jIFh" class="Event-calloutFooterLink" target="_blank">
        <i class="Icon  Icon-youtube"></i>
        Watch videos</a>

        <a href="https://www.flickr.com/photos/dcscorespictures/tags/poetryslam/" class="Event-calloutFooterLink" target="_blank">
          <i class="Icon  Icon-flickrEmpty"></i>
          See photos</a>
    </div>
  </aside>
</div>



<div class="Supporters">

  <div class="Supporters-header">
    <h3 class="Supporters-headerTitle">Supporters</h3>
    <a href="/about-us/supporters" class="Supporters-headerLink">See all</a>
  </div>

  <ul class="Supporters-list  Grid  Grid--large">
    <li class="Supporters-listItem">
      <a href="https://www.dcunited.com/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/dc-united.png" alt="">
      </a>
    </li>

    <li class="Supporters-listItem">
      <a href="https://osse.dc.gov/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/osse.png" alt="">
      </a>
    </li>

    <li class="Supporters-listItem">
      <a href="https://ussoccerfoundation.org/" class="Supporters-listItemLink" target="_blank">
        <img class="Supporters-listItemLinkImage" src="assets/images/supporters/us-soccer-foundation.png" alt="">
      </a>
    </li>
  </ul>

</div>



{% comment %}
<!-- Video player -->
<div class="Youtube">
	<div class="Youtube-body">

    <!-- Youtube close -->
		<div class="Youtube-bodyClose  Icon  Icon-facebook"></div>

		<div class="Youtube-bodyInner">
			<div id="youtubeVideo" class="video__modal"></div>
		</div>

    <!-- Youtube controls -->
		<div class="Youtube-bodyControl">

      <!-- Youtube play pause -->
			<div class="Youtube-bodyControlPlayPause">
				<button class="Youtube-bodyControlPlayPauseButton" aria-live="assertive" tabindex="32" aria-label="Pause">
				   <svg width="30" height="30" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				      <defs>
				         <path id="ytp-12" d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26">
				            <animate id="animation" begin="indefinite" attributeType="XML" attributeName="d" fill="freeze" from="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" to="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" dur="0.1s" keySplines=".4 0 1 1"
				            repeatCount="1"></animate>
				         </path>
				      </defs>
				      <use xlink:href="#ytp-12" class="ytp-svg-shadow"></use>
				      <use xlink:href="#ytp-12" class="ytp-svg-fill"></use>
				   </svg>
				</button>
			</div>

      <!-- Youtube scrubber -->
			<div class="Youtube-bodyControlScrubber">
				<div id="progressBar"><div></div></div>
			</div>

      <!-- Time remaining -->
			<div class="Youtube-bodyControlTimeRemaining"></div>

      <!-- Go fullscreen -->
			<div class="Youtube-bodyControlGoFullscreen  Icon  Icon-facebook"></div>
		</div>
	</div>
</div>
{% endcomment %}



<!--
<div class="Action">
  <div class="Action-item">

    <a href="#" class="Action-itemLink">
      <h2 class="Action-itemLinkTitle">Get Involved</h2>
      <p class="Action-itemLinkBlurb">Mauris et lectus commodo, ultrices magna eget, sodales.</p>
    </a>

  </div>

  <div class="Action-item">

    <a href="#" class="Action-itemLink">
      <h2 class="Action-itemLinkTitle">Make a Donation</h2>
      <p class="Action-itemLinkBlurb">Nullam mattis interdum mi a placerat. Sed eu placerat.</p>
    </a>

  </div>
</div>
-->






















