---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url(/assets/images/masthead-mission-and-history.jpg); background-position: 50% 40%;">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Mission & History</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d4  Grid__d-newline  Grid__m1-m6">
      {% for mission in page.mission %}{{ mission | markdownify }}{% endfor %}
    </div>

    <div class="Grid__d5-d6  Grid__m1-m6  Grid__m-newline">
      <img src="/uploads/image-mission.jpg" alt="">
    </div>

    <hr class="Grid__d5-d6  Grid__d-newline  Grid__m1-m6">

    <div class="Grid__d2-d4  Grid__d-newline  Grid__m1-m6">
      <img src="/uploads/image-vision.jpg" alt="">
    </div>

    <div class="Grid__d5-d6  Grid__m1-m6  Grid__m-newline">
      {% for vision in page.vision %}{{ vision | markdownify }}{% endfor %}
    </div>

    <hr class="Grid__d2-d4  Grid__d-newline  Grid__m1-m6">

    <header class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6">
      <h2>History</h2>
    </header>

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6">
      <!-- Timeline -->
      <ol class="Timeline">
        {% for year in page.years %}
        <li class="Timeline-node">
          <h3 class="Timeline-nodeDate">{{ year.date }}</h3>
          <p>{{ year.description }}</p>

          {% if year.image %}
          <figure>
            <img src="{{ year.image }}" alt="">
          </figure>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div>

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6  Grid__m-newline  u-marginTop">
      {% for bottomText in page.bottomText %}{{ bottomText | markdownify }}{% endfor %}
    </div>

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6  Grid__m-newline  u-marginTop">
      {% for americaScores in page.americaScores %}{{ americaScores | markdownify }}{% endfor %}
    </div>
  </section>
</main>

















