---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead  Masthead--noBottom"  style="background-image: url({{ page["Top Image"] }}); background-position: {{ page["Top Image Position"] }};">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Participants</h1>
      </div>
    </div>
  </header>

  <nav class="StickyNavigation">
    <a href="#soccerSchedule" class="StickyNavigation-link">Soccer Schedule</a>
    <a href="#forFamilies" class="StickyNavigation-link">For Families</a>
    <a href="#programAlumni" class="StickyNavigation-link">Program Alumni</a>
  </nav>

  <section class="Grid  Grid--large">

    <div class="Grid__d1-d3  Grid__m1-m6  Grid__m-newline">
      <img src="{{ page.soccerScheduleMap }}" alt="">
    </div>

    <div id="soccerSchedule" class="Grid__d4-d6  Grid__m1-m5  Grid__m-newline">
      {% for content in page.soccerSchedule %}{{ content | markdownify }}{% endfor %}
    </div>

    <div id="forFamilies" class="Image  Grid__d1-d6  Grid__m1-m6" style="background-image: url(/uploads/image-resources--first.jpg); background-position: center;"></div>

    <div class="Grid__d2-d3  Grid__d-newline  Grid__m1-m6">
      {% for content in page.forFamilies %}{{ content | markdownify }}{% endfor %}
    </div>

    <div class="Grid__d4-d6  Grid__m1-m6  Grid__m-newline">
      <img src="/uploads/participants-family.jpg" alt="">
    </div>

    <hr id="programAlumni" class="Grid__d4-d6  Grid__d-newline  Grid__m1-m6">

    <div class="Grid__d1-d4  Grid__d-newline  Grid__m1-m6">
      <img src="/uploads/image-participants-alumni.jpg" alt="">
    </div>

    {% comment %}<div id="programAlumni" class="Image  Grid__d1-d6  Grid__m1-m6" style="background-image: url(/uploads/image-participants-alumni.jpg); background-position: center;"></div>{% endcomment %}

    <div class="Grid__d5-d6  Grid__m1-m6  Grid__m-newline">
      {% for content in page.programAlumni %}{{ content | markdownify }}{% endfor %}
    </div>

  </section>
</main>

















