---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead">
    <div class="Grid  Grid--large">
      <div class="Grid__d2-d6  Grid__m1-m6">
        <h1 class="Masthead-title">Program Sites</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6">
      <p>DC SCORES enrolls 2,200 students between the ages of eight and 15. Our program engages approximately 30 students each day at 55 schools and recreation center-based sites in all eight of the District of Columbia’s wards.</p>
    </div>
  </section>

</main>