---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url(/assets/images/masthead-program-model.jpg); background-position: 50% 60%;">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle  Masthead-headerTitle--right">Program Model</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m2-m6">
      {% comment %}<h2>TEAMWORK, LEADERSHIP, COMMITMENT</h2>{% endcomment %}
      <h2>How it Works</h2>
    </div>

    <!-- Program seasons -->
    <div class="ProgramSeasons">

      <!-- Fall season -->
      <div class="ProgramSeasons-season  ProgramSeasons-season--fall">
        <div class="ProgramSeasons-seasonBadge  ProgramSeasons-seasonBadge--fall">
          <h5 class="ProgramSeasons-seasonBadgeName  ProgramSeasons-seasonBadgeName--fall">12<span>weeks</span></h5>
        </div>

        <div class="ProgramSeasons-seasonHeader">
          <h3 class="ProgramSeasons-seasonHeaderName">Fall</h3>
          <h4 class="ProgramSeasons-seasonHeaderTitle">Soccer + poetry and creative writing</h4>
        </div>
      </div>

      <!-- Winter season -->
      <div class="ProgramSeasons-season  ProgramSeasons-season--winter">
        <div class="ProgramSeasons-seasonBadge  ProgramSeasons-seasonBadge--winter">
          <h5 class="ProgramSeasons-seasonBadgeName  ProgramSeasons-seasonBadgeName--winter">6<span>weeks</span></h5>
        </div>

        <div class="ProgramSeasons-seasonHeader">
          <h3 class="ProgramSeasons-seasonHeaderName">Winter</h3>
          <h4 class="ProgramSeasons-seasonHeaderTitle">Nutrition + soccer</h4>
        </div>
      </div>

      <!-- Spring season -->
      <div class="ProgramSeasons-season  ProgramSeasons-season--spring">
        <div class="ProgramSeasons-seasonBadge  ProgramSeasons-seasonBadge--spring">
          <h5 class="ProgramSeasons-seasonBadgeName  ProgramSeasons-seasonBadgeName--spring">12<span>weeks</span></h5>
        </div>

        <div class="ProgramSeasons-seasonHeader">
          <h3 class="ProgramSeasons-seasonHeaderName">Spring</h3>
          <h4 class="ProgramSeasons-seasonHeaderTitle">Soccer + service-learning</h4>
        </div>
      </div>

      <!-- Summer season -->
      <div class="ProgramSeasons-season  ProgramSeasons-season--summer">
        <div class="ProgramSeasons-seasonBadge  ProgramSeasons-seasonBadge--summer">
          <h5 class="ProgramSeasons-seasonBadgeName  ProgramSeasons-seasonBadgeName--summer">8<span>weeks</span></h5>
        </div>

        <div class="ProgramSeasons-seasonHeader">
          <h3 class="ProgramSeasons-seasonHeaderName">Summer</h3>
          <h4 class="ProgramSeasons-seasonHeaderTitle">Soccer + arts enrichment</h4>
        </div>
      </div>

    </div>

    <div class="Grid__d2-d5  Grid__d-newline  Grid__m1-m6">
      <div class="Program">
        <div class="Program-model">

          <!-- Look -->
          <div class="Program-modelLook">
            <img class="Program-modelLookIcon" src="/uploads/icon-mic.png" alt="">
          </div>

          <!-- Read -->
          <div class="Program-modelRead">
            <h3 class="Program-modelReadHeadline">Poetry and spoken word</h3>
            <p class="Program-modelReadParagraph">During the 12-week fall model, students learn how to write creatively and perform. Every student writes at least five original poems, and the model culminates with each school performing at the DC SCORES Poetry Slam!</p>
          </div>
        </div>

        <div class="Program-model">

          <!-- Look -->
          <div class="Program-modelLook">
            <img class="Program-modelLookIcon" src="/uploads/icon-high5.png" alt="">
          </div>

          <!-- Read -->
          <div class="Program-modelRead">
            <h3 class="Program-modelReadHeadline">Service-learning</h3>
            <p class="Program-modelReadParagraph">During the 12-week spring season, students at each school work together — building upon the teamwork formed on the soccer field and at the Poetry Slam! — to identify and then research an issue in their school and/or greater community, and then address it with a service-learning plan. Projects range from neighborhood and schools cleanups, to awareness campaigns, to raising money for the homeless, and much more.</p>
          </div>
        </div>

        <div class="Program-model">

          <!-- Look -->
          <div class="Program-modelLook">
            <img class="Program-modelLookIcon" src="/uploads/icon-football.png" alt="">
          </div>

          <!-- Read -->
          <div class="Program-modelRead">
            <h3 class="Program-modelReadHeadline">Soccer</h3>
            <p class="Program-modelReadParagraph">DC SCORES runs the only consistent public soccer leagues for both elementary and middle school youth in the District. During both the spring and fall, each team practices twice a week. Thursday (elementary schools) and Friday (middle schools) are game days, when teams from throughout the city play a girls game followed by a boys game.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="Grid__d2-d3  Grid__d-newline  Grid__m1-m5">
      <h3>Coaches</h3>
      <p>We hire and train motivated DC Public School teachers to run the program at their schools, thus providing each student with direct access to a trusted mentor.</p>

      <p><strong class="ProgramStrong">70%</strong> of coaches are teachers.<br><strong class="ProgramStrong">85%</strong> of coaches work at the schools.</p>
      <p>Watch this video for an example of the relationships kids in DC SCORES build with their coaches/trusted mentors.</p>
    </div>

    <div class="Grid__d4-d6  Grid__m1-6  Grid__m-newline">
      <div class="Embed">
        <iframe src="https://www.youtube.com/embed/lbWwbyONtn4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p><a href="https://www.youtube.com/playlist?list=PLaMKH-_ipEg8MGcvteKr412hxc-7GHTVp" target="_blank">Watch more kids/coaches videos</a></p>
    </div>

  </section>
</main>











