---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url(/assets/images/masthead-program-sites.jpg); background-position: 50% 50%;">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Program Sites</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d1-d3  Grid__m1-m6  Grid__m-newline">
      <img src="/uploads/image-program-sites-map.png" alt="">
    </div>

    <div class="Grid__d4-d5  Grid__m1-m5  Grid__m-newline">
      <p>DC SCORES enrolls 2,200 students between the ages of eight and 15. Our program engages approximately 30 students each day at 55 schools and recreation center-based sites in all eight of the District of Columbia’s wards.</p>
    </div>
  </section>

</main>