---
layout: default
---

{% comment %}
{% for supporter in page.leagueChampions %}
<h2>{{ supporter }}</h2>
{% endfor %}
{% endcomment %}

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead" style="background-image: url({{ page["Top Image"] }}); background-position: {{ page["Top Image Position"] }};">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Supporters</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d6  Grid__d-newline  Grid__m1-m6">

      <h2 class="H3">League Champions</h2>
      <ul class="SupportersList">
        {% for supporter in page["League Champions"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">Team Champions</h2>
      <ul class="SupportersList">
        {% for supporter in page["Team Champions"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">Scoring Champions</h2>
      <ul class="SupportersList">
        {% for supporter in page["Scoring Champions"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">MVP Champions</h2>
      <ul class="SupportersList">
        {% for supporter in page["MVP Champions"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">Fans</h2>
      <ul class="SupportersList">
        {% for supporter in page["Fans"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">Supporters</h2>
      <ul class="SupportersList">
        {% for supporter in page["Supporters"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">In-kind</h2>
      <ul class="SupportersList">
        {% for supporter in page["In Kind"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">Matching Gifts</h2>
      <ul class="SupportersList">
        {% for supporter in page["Matching Gifts"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

      <h2 class="H3  u-marginTop--10vh">League of Champions</h2>
      <ul class="SupportersList">
        {% for supporter in page["League Of Champions"] %}
        <li class="SupportersList-cell">
          <h5 class="SupportersList-cellName">{{ supporter }}</h5>
        </li>
        {% endfor %}
      </ul>

    </div>
  </section>
</main>



















