---
layout: default
---

<main class="Main  Main--noTop">

  <!-- Masthead -->
  <header class="Masthead"  style="background-image: url(/assets/images/masthead-volunteer.jpg); background-position: 50% 55%;">
    <div class="Masthead-header">
      <div class="Grid  Grid--large">
        <h1 class="Masthead-headerTitle">Volunteer</h1>
      </div>
    </div>
  </header>

  <section class="Grid  Grid--large">
    <div class="Grid__d2-d5  Grid__m1-m6">

      <!-- Develop article component further -->
      <article class="Article">
        <section class="Article-content">
          {{ page.content | markdownify }}
        </section>
      </article>

    </div>

    <!-- Yes -->
    <div class="RubberDucky  Grid__d6  Grid__m5-m6">
      <nav class="RubberDucky-navigation">
        <a href="#volunteer-referee" class="RubberDucky-navigationItem">Referee</a>
        <a href="#volunteer-assistant-coach" class="RubberDucky-navigationItem">Assistant coach</a>
        <a href="#volunteer-special-events" class="RubberDucky-navigationItem">Special events</a>
        <a href="#volunteer-summer-camp" class="RubberDucky-navigationItem">Summer camp</a>
        <a href="#volunteer-other" class="RubberDucky-navigationItem">Other</a>
      </nav>
    </div>
  </section>

</main>










{% comment %}
<a href="https://docs.google.com/a/dcscores.org/forms/d/1PqXYYjOqZE5f_nWNkdZXwzcd1qtiToLUlWFIBlF37cQ/edit" class="Article-contentButton" target="_blank">
  <i class="Icon  Icon-document"></i>
  Sign Up
</a>
{% endcomment %}












