@font-face {
  font-family: DCSCORES;
  src:  url("../assets/fonts/DCSCORES.woff2") format("woff2"),
        url("../assets/fonts/DCSCORES.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Icons;
  src:  url("../assets/fonts/Icons.eot?i0znef");
  src:  url("../assets/fonts/Icons.eot?i0znef#iefix") format("embedded-opentype"),
        url("../assets/fonts/Icons.ttf?i0znef") format("truetype"),
        url("../assets/fonts/Icons.woff?i0znef") format("woff"),
        url("../assets/fonts/Icons.svg?i0znef#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wf-opensans-n4-active body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wf-opensans-n3-active body {
    font-weight: 300;
  }
}